<ngx-audio-player (trackEnded)="onEnded($event)" [autoPlay]="false" [disablePositionSlider]="msaapDisablePositionSlider"
                  [displayArtist]="msaapDisplayArtist" [displayDuration]="msaapDisplayDuration" [displayPlaylist]="msaapDisplayPlayList" [displayRepeatControls]="msaapDisplayRepeatControls"
                  [displayTitle]="msaapDisplayTitle" [displayVolumeControls]="msaapDisplayVolumeControls"
                  [expanded]="true" [pageSizeOptions]="msaapPageSizeOptions"
                  [playlist]="listTracks" muted="muted"></ngx-audio-player>
