<style>
  label {
    color: black;
  }
</style>

<div class="page-title m-b">
  <h1 class="inline m-a-0" style="padding-left: 50px">Change Password</h1>
</div>

<div class="app dk" id="app">


  <div class="container">
    <div class="rowk">
      <div class="card col-md-4 offset-4 mb-4">
        <div class="card-body">
          <div class="mainbox" id="loginbox">
            <div class="panel panel-info">

              <div class="panel-body" style="padding-top:30px">
                <div class="alert alert-danger col-sm-12" id="login-alert" style="display:none"></div>
                <form #f="ngForm" (ngSubmit)="f.form.valid" class="form" name="form" novalidate>
                  <div *ngIf="isChangePassed; else ChanePassForm">
                    <p class="message-signup" style="color: limegreen">Your password is changed.</p>
                  </div>

                  <ng-template #ChanePassForm>
                    <form #f="ngForm" (ngSubmit)="f.form.valid && ngSubmit()" name="form" novalidate>
                      <div class="form-group" style="margin-bottom: 25px">
                        <label><i class="fa fa-unlock"></i>
                          <p style="color: #000000;">Mật Khẩu Cũ:</p>
                        </label>
                        <input #password="ngModel" [(ngModel)]="form.password"
                               class="form-control" name="password"
                               placeholder="Current Password"
                               required type="password"/>
                        <div *ngIf="f.submitted && password.invalid">
                          <div *ngIf="password.errors.required">Current Password is required</div>
                        </div>
                      </div>

                      <div class="form-group" style="margin-bottom: 25px">
                        <label><i class="fa fa-unlock-alt"></i>
                          <p style="color: #000000">Mật Khẩu Mới:</p>
                        </label>
                        <input #new_password="ngModel" [(ngModel)]="form.new_password"
                               class="form-control" name="new_password"
                               placeholder="New Password" required type="password"/>
                        <div *ngIf="f.submitted && new_password.invalid">
                          <div *ngIf="new_password.errors.required">New PassWord is required</div>
                        </div>
                      </div>

                      <div class="form-group" style="margin-bottom: 25px">
                        <label><i class="fa fa-lock"></i>
                          <p style="color: #000000;">Xác Nhận Mật Khẩu Mới:</p>
                        </label>
                        <input #confirm_new_password="ngModel" [(ngModel)]="form.confirm_new_password"
                               class="form-control" name="confirm_new_password"
                               placeholder="Confirm Password" required type="password"/>
                        <div *ngIf="f.submitted && confirm_new_password.invalid">
                          <div *ngIf="confirm_new_password.errors.required">Confirm PassWord is required</div>
                        </div>
                      </div>


                      <div class="form-group">
                        <button class="btn btn-info btn-block my-4" type="submit">Thay Đổi Mật Khẩu</button>
                      </div>
                    </form>
                  </ng-template>

                </form>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>


</div>
