<div class="page-title m-b">
  <h1 class="inline m-a-0" style="padding-left: 50px">Change Password</h1>
</div>

<div class="container">
  <div class="b-t" style="margin-top: 50px">
    <div class="p-a-md">
      <form [formGroup]="ChangePassForm">

        <div class="form-group row">
          <div class="font-weight-bold col-sm-3 form-control-label text-muted">Old Password:</div>
          <div class="col-sm-7">
            <input [class.input-invalid]="ChangePassForm.get('password')!.invalid && ChangePassForm.get('password')!.touched" [class.input-valid]="ChangePassForm.get('password')!.valid && ChangePassForm.get('password')!.touched" class="form-control" formControlName="password" placeholder="Old Password" type="password">
            <div *ngIf="ChangePassForm.get('password')!.invalid && ChangePassForm.get('password')!.touched" style="margin-top: 10px;color: red; text-align: left !important;">
              <div *ngIf="ChangePassForm.get('password').hasError('required')">
                <div [@shake]="shake">
                  Password is <strong>required.</strong>
                </div>
              </div>
              <div *ngIf="ChangePassForm.get('password').hasError('minlength')">
                <div [@shake]="shake">Password must be at least <strong>6 characters long.</strong>
                </div>
              </div>
              <div *ngIf="ChangePassForm.get('password').hasError('maxlength')">
                <div [@shake]="shake">Password can be max <strong>10 characters long.</strong>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group row">
          <div class="font-weight-bold col-sm-3 form-control-label text-muted">New Password:</div>
          <div class="col-sm-7">
            <div class="form-group">
              <input [class.input-invalid]="ChangePassForm.get('new_password')!.invalid && ChangePassForm.get('new_password')!.touched" [class.input-valid]="ChangePassForm.get('new_password')!.valid && ChangePassForm.get('new_password')!.touched" class="form-control" formControlName="new_password" placeholder="New Password" type="password">
              <div *ngIf="ChangePassForm.get('new_password')!.invalid && ChangePassForm.get('new_password')!.touched" style="margin-top: 10px;color: red; text-align: left !important;">
                <div *ngIf="ChangePassForm.get('new_password').hasError('required')">
                  <div [@shake]="shake">
                    New Password is <strong>required.</strong>
                  </div>
                </div>
                <div *ngIf="ChangePassForm.get('new_password').hasError('minlength')">
                  <div [@shake]="shake">Password must be at least <strong>6 characters long.</strong>
                  </div>
                </div>
                <div *ngIf="ChangePassForm.get('new_password').hasError('maxlength')">
                  <div [@shake]="shake">Password can be max <strong>10 characters long.</strong>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="font-weight-bold col-sm-3 form-control-label text-muted">New Password Confirmation:</div>
          <div class="col-sm-7">
            <div class="form-group">
              <input [class.input-invalid]="(ChangePassForm.get('confirm_new_password')!.invalid && ChangePassForm.get('confirm_new_password')!.touched) || ChangePassForm.hasError('passwordnotmatch')" [class.input-valid]="ChangePassForm.get('confirm_new_password')!.valid && ChangePassForm.get('confirm_new_password')!.touched && !ChangePassForm.hasError('passwordnotmatch')" class="form-control" formControlName="confirm_new_password" matInput placeholder="New Password Confirmation" type="password">
              <div style="margin-top: 10px;color: red; text-align: left !important;">
                <div *ngIf="ChangePassForm.hasError('passwordnotmatch')">
                  <div [@shake]="shake">
                    New Password confirmation do <strong>not match.</strong>
                  </div>
                </div>
                <div *ngIf="ChangePassForm.get('confirm_new_password')!.invalid && ChangePassForm.get('confirm_new_password')!.touched">
                  <div *ngIf="ChangePassForm.get('confirm_new_password').hasError('required')">
                    <div [@shake]="shake">
                      New Password confirmation is <strong>required.</strong>
                    </div>
                  </div>
                </div>
                <div *ngIf="ChangePassForm.get('confirm_new_password').hasError('minlength')">
                  <div [@shake]="shake">
                    New Password confirmation must be at least <strong>6 characters long.</strong>
                  </div>
                </div>
                <div *ngIf="ChangePassForm.get('confirm_new_password').hasError('maxlength')">
                  <div [@shake]="shake">
                    New Password confirmation can be max <strong>10 characters long.</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10 text-center">
            <a [routerLink]="['/profile']" class="btn btn-md dark p-x-md">Cancel</a> &nbsp;
            <button (click)="ngSubmit()" [disabled]="!ChangePassForm.valid" class="btn btn-md black p-x-lg" type="submit">
              Update Password
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>


<!--<div class="b-t" style="margin-top: 50px">-->
<!--  <div class="center-block w-xxl w-auto-xs p-y-md text-center">-->
<!--    <div class="p-a-md">-->
<!--      <div class="panel-body" style="padding-top:30px">-->
<!--        <div class="alert alert-danger col-sm-12" id="login-alert" style="display:none"></div>-->
<!--        <form #f="ngForm" (ngSubmit)="f.form.valid" class="form" name="form" novalidate >-->
<!--          <div *ngIf="isChangePassed; else ChangePassForm" style="margin-top: 10px; color: red; text-align: left !important" >-->
<!--            <p class="message-signup" style="color: limegreen">Your registration is successful. Please login!</p>-->
<!--          </div>-->

<!--          <ng-template #ChangePassForm>-->
<!--            <form #f="ngForm" (ngSubmit)="f.form.valid && ngSubmit()" name="form" novalidate>-->
<!--              <div class="form-group" style="margin-bottom: 25px">-->
<!--                <label><i class="fa fa-unlock"></i>-->
<!--                  Mật Khẩu Cũ:-->
<!--                </label>-->
<!--&lt;!&ndash;                <input #password="ngModel" [(ngModel)]="form.password"&ndash;&gt;-->
<!--&lt;!&ndash;                       class="form-control" name="password"&ndash;&gt;-->
<!--&lt;!&ndash;                       placeholder="Current Password"&ndash;&gt;-->
<!--&lt;!&ndash;                       required type="password"/>&ndash;&gt;-->
<!--                <input [class.input-invalid]="ChangePassForm.get('password)!.invalid && ChangePassForm.get('password')!.touched" [class.input-valid]="ChangePassForm.get('password')!.valid && ChangePassForm.get('password')!.touched" type="text" class="form-control" formControlName="password" placeholder="password">-->
<!--                <div *ngIf="ChangePassForm.get('password')!.invalid && ChangePassForm.get('password')!.touched" style="margin-top: 10px;color: red; text-align: left !important;">-->
<!--                  <div *ngIf="ChangePassForm.get('password').hasError('required')">-->
<!--                    <div [@shake]="shake">Password is <strong>required.</strong>-->
<!--                    </div>-->

<!--              </div>-->
<!--              </div>-->


<!--              <div class="form-group" style="margin-bottom: 25px">-->
<!--                <label><i class="fa fa-unlock-alt"></i>-->
<!--                  Mật Khẩu Mới:-->
<!--                </label>-->
<!--                <input #new_password="ngModel" [(ngModel)]="form.new_password"-->
<!--                       class="form-control" name="new_password"-->
<!--                       placeholder="New Password" required type="password"/>-->
<!--                <div *ngIf="f.submitted && new_password.invalid">-->
<!--                  <div *ngIf="new_password.errors.required">New PassWord is required</div>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="form-group" style="margin-bottom: 25px">-->
<!--                <label><i class="fa fa-lock"></i>-->
<!--                  Xác Nhận Mật Khẩu Mới:-->
<!--                </label>-->
<!--                <input #confirm_new_password="ngModel" [(ngModel)]="form.confirm_new_password"-->
<!--                       class="form-control" name="confirm_new_password"-->
<!--                       placeholder="Confirm Password" required type="password"/>-->
<!--                <div *ngIf="f.submitted && confirm_new_password.invalid">-->
<!--                  <div *ngIf="confirm_new_password.errors.required">Confirm PassWord is required</div>-->
<!--                </div>-->
<!--              </div>-->


<!--              <div class="form-group">-->
<!--                <button class="btn btn-info btn-block my-4" type="submit">Thay Đổi Mật Khẩu</button>-->
<!--              </div>-->
<!--            </form>-->
<!--          </ng-template>-->

<!--        </form>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->

