<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top: 20px;">

      <mat-card style="background-color: #f8f8f8; margin: 250px 350px;">

        <mat-card-header>
          <mat-card-title class="formlogin"> Login</mat-card-title>
        </mat-card-header>
        <mat-card-content class="row justify-contents-around mat-basic-player">
          <div class="col py-3 pl-5">
            <div class="container">
              <div class="row">

                <div class="col-8" style="margin-top: 20px;">

                  <div class="container">
                    <div class="row">
                      <div *ngIf="isLoggedIn; else loggedOut">
                        Logged in as {{username}}
                        <li>
                          <button (click)="signOut()">Logout</button>
                        </li>
                      </div>
                      <ng-template #loggedOut>
                        <div class="row col-sm-12" style="max-width:600px;">
                          <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()"
                                name="form" novalidate>
                            <div class="form-group">
                              <label class="username" for="username">Username</label>
                              <br>
                              <input #username="ngModel" [(ngModel)]="form.username" class="form-control" name="username"
                                     required style="width: 300px "
                                     type="text"/>
                              <div *ngIf="f.submitted && username.invalid">
                                <div *ngIf="username.errors.required">Username is
                                  required
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="password" for="password">Password</label>
                              <br>
                              <input #password="ngModel" [(ngModel)]="form.password" class="form-control"
                                     minlength="6" name="password"
                                     required type="password"/>
                              <div *ngIf="f.submitted && password.invalid">
                                <div *ngIf="password.errors.required">Password is
                                  required
                                </div>
                                <div *ngIf="password.errors.minlength">Password must be
                                  at least 6 characters
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <button class="btn btn-primary">Login</button>
                              <div *ngIf="f.submitted && isLoginFailed"
                                   class="alert alert-danger">
                                Login failed: {{errorMessage}}
                              </div>
                            </div>
                          </form>
                          <hr/>
                          <p>Don't have an account?</p>
                          <a class="btn btn-success" href="signup">Sign Up</a>
                        </div>
                      </ng-template>

                    </div>

                  </div>


                </div>

              </div>
            </div>
          </div>
        </mat-card-content>
        <div>
        </div>
      </mat-card>
    </div>
