<h2 mat-dialog-title>Create a Singer</h2>
<mat-dialog-content class="mat-typography">
  <div class="container">
    <form [formGroup]="createSingerDialogForm" name="form">

      <div class="form-group row">
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Singer Name:</mat-label>
            <input [(ngModel)]="data.singer_name" [class.input-invalid]="createSingerDialogForm.get('singer_name')!.invalid && createSingerDialogForm.get('singer_name')!.touched"
                   [class.input-valid]="createSingerDialogForm.get('singer_name')!.valid && createSingerDialogForm.get('singer_name')!.touched" class="form-control" formControlName="singer_name" matInput placeholder="Singer Name" type="text">
            <div *ngIf="createSingerDialogForm.get('singer_name').invalid && createSingerDialogForm.get('singer_name').touched"
                 style="margin-top: 10px;color: red; text-align: left !important;">
              <div [@shake]="shake">
                Singer Name is <strong>required.</strong>
              </div>
            </div>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Date of birth:</mat-label>
            <input [(ngModel)]="data.date_of_birth" [class.input-invalid]="createSingerDialogForm.get('date_of_birth')!.invalid && createSingerDialogForm.get('date_of_birth')!.touched"
                   [class.input-valid]="createSingerDialogForm.get('date_of_birth')!.valid && createSingerDialogForm.get('date_of_birth')!.touched" class="form-control" formControlName="date_of_birth" matInput placeholder="Date of birthday" type="date">

          </mat-form-field>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Gender:</mat-label>
            <select [(ngModel)]="data.gender" [class.input-invalid]="createSingerDialogForm.get('gender')!.invalid && createSingerDialogForm.get('gender')!.touched"
                    [class.input-valid]="createSingerDialogForm.get('gender')!.valid && createSingerDialogForm.get('gender')!.touched" class="form-control" formControlName="gender" matInput matNativeControl placeholder="gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>

          </mat-form-field>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Music genre:</mat-label>
            <input [(ngModel)]="data.music_genre" [class.input-invalid]="createSingerDialogForm.get('music_genre')!.invalid && createSingerDialogForm.get('music_genre')!.touched"
                   [class.input-valid]="createSingerDialogForm.get('music_genre')!.valid && createSingerDialogForm.get('music_genre')!.touched" class="form-control" formControlName="music_genre" matInput placeholder="Music genre" type="text">

          </mat-form-field>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Story:</mat-label>
            <input [(ngModel)]="data.story" [class.input-invalid]="createSingerDialogForm.get('story')!.invalid && createSingerDialogForm.get('story')!.touched"
                   [class.input-valid]="createSingerDialogForm.get('story')!.valid && createSingerDialogForm.get('story')!.touched" class="form-control" formControlName="story" matInput placeholder="Story" type="text">

          </mat-form-field>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Band:</mat-label>
            <input [(ngModel)]="data.band" [class.input-invalid]="createSingerDialogForm.get('band')!.invalid && createSingerDialogForm.get('band')!.touched"
                   [class.input-valid]="createSingerDialogForm.get('band')!.valid && createSingerDialogForm.get('band')!.touched" class="form-control" formControlName="band" matInput placeholder="Band" type="text">

          </mat-form-field>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <mat-label>Image:</mat-label>
          <input (change)="firebaseDialogSinger.handleFileInput($event)" accept="image/*" autocomplete="off" class="form-control"
                 formControlName="image" id="avatar" type="file"/>
          <br>
          <div *ngIf="firebaseDialogSinger.percentage | async as pct">
            <div class="col-12">
              <div class="progress">
                <div [ngStyle]="{ width: pct + '%' }" aria-valuemax="100" aria-valuemin="0"
                     aria-valuenow="{{ pct | number }}" class="progress-bar progress-bar-info progress-bar-striped"
                     role="progressbar"> {{ pct | number }}%
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="createSingerDialogForm.get('image').invalid && createSingerDialogForm.get('image').touched"
               style="color: red; text-align: left !important;">
            <div [@shake]="shake">
              Image is <strong>required.</strong>
            </div>
          </div>
        </div>
        <div *ngIf="firebaseDialogSinger.fb as url" class="col-sm-12">
          <img [src]="firebaseDialogSinger.fb" class="img-thumbnail img-fluid"><br>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Description:</mat-label>
            <textarea [class.input-invalid]="createSingerDialogForm.get('description')!.invalid && createSingerDialogForm.get('description')!.touched"
                      [class.input-valid]="createSingerDialogForm.get('description')!.valid && createSingerDialogForm.get('description')!.touched"
                      cdkAutosizeMinRows="1"
                      cdkTextareaAutosize
                      class="form-control"
                      formControlName="description" matInput placeholder="Description" rows="5"
                      style="height: 100px;"></textarea>
            <div *ngIf="createSingerDialogForm.get('description').invalid && createSingerDialogForm.get('description').touched"
                 style="margin-top: 10px;color: red; text-align: left !important;">
              <div [@shake]="shake">
                Description is <strong>required.</strong>
              </div>
            </div>
          </mat-form-field>
        </div>
      </div>

    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button (click)="onNoClick()" mat-dialog-close mat-raised-button>Cancel</button>
  <button (click)="createSingerSubmit()" [disabled]="!createSingerDialogForm.valid" [mat-dialog-close]="createSingerDialogForm" cdkFocusInitial mat-raised-button>
    Add
  </button>
</mat-dialog-actions>
