<div class="page-title m-b">
  <h1 class="inline m-a-0" style="padding-left: 50px">Drag&Drop connected sorting group
  </h1>
</div>

<div class="page-content text-center">
  <div class="row-col">
    <div cdkDropListGroup>
      <div class="example-container">
        <h2>To do</h2>
        <div
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="listSongs"
          cdkDropList
          class="example-list">
          <div *ngFor="let item of listSongs; let i = index" cdkDrag class="example-box">
            Index: {{ i }}- {{item.nameSong}}- {{item.id}}- {{item.author}}
            <!--            <audio controls="controls" id="audio" style="width:100%">-->
            <!--              <source src="{{ item.mp3Url }}" type="audio/mpeg">-->
            <!--            </audio>-->
          </div>
        </div>
      </div>

      <div class="example-container2">
        <h2>Done</h2>
        <div
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="moveListSongs"
          cdkDropList
          class="example-list2">
          <div *ngFor="let item of moveListSongs; let i2 = index;" cdkDrag class="example-box2">
            Index: {{ i2 }}- {{item.nameSong}}- {{item.id}}- {{item.author}}
            <!--            <audio controls="controls" id="audio" style="width:100%">-->
            <!--              <source src="{{ item.mp3Url }}" type="audio/mpeg">-->
            <!--            </audio>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="dataToMove" class="text-center">
  Id to move: {{ idToMove }} <br>
  Name song Data: {{ dataToMove.nameSong }} <br>
  Id Data: {{ dataToMove.id }} <br>
</div>


<div class="row">
  <div class="col-lg-6">
    <div style="margin-left: 50px">
      <strong>Current listSongs:</strong>
      <div *ngFor="let lS of listSongs; let i = index;">
        Index:{{i}}- nameSong:{{lS.nameSong}}- id:{{lS.id}}- author:{{lS.author}}
      </div>
      <br>
    </div>
  </div>
  <div class="col-lg-6">
    <div style="margin-left: 50px">
      <strong>Current moveListSongs:</strong>
      <div *ngFor="let mvS of moveListSongs; let i2 = index;">
        Index:{{i2}}- nameSong:{{mvS.nameSong}}- id:{{mvS.id}}- author:{{mvS.author}}
      </div>
      <br>
    </div>
  </div>
</div>


<!--<div class="text-center">-->
<!--  Todo-->
<!--  <textarea cols="55" [(ngModel)]="todo"></textarea>-->
<!--  Done-->
<!--  <textarea cols="55" [(ngModel)]="done"></textarea>-->
<!--</div>-->

<!--<div class="page-title m-b">-->
<!--  <h1 class="inline m-a-0" style="padding-left: 50px">Drag&Drop connected sorting-->

<!--  </h1>-->
<!--</div>-->

<!--<div class="page-content text-center">-->
<!--  <div class="row-col">-->
<!--    <div class="example-container">-->
<!--      <h2>To do</h2>-->

<!--      <div-->
<!--        cdkDropList-->
<!--        #todoList="cdkDropList"-->
<!--        [cdkDropListData]="todo"-->
<!--        [cdkDropListConnectedTo]="[doneList]"-->
<!--        class="example-list"-->
<!--        (cdkDropListDropped)="drop($event)">-->
<!--        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="example-container">-->
<!--      <h2>Done</h2>-->
<!--      <div-->
<!--        cdkDropList-->
<!--        #doneList="cdkDropList"-->
<!--        [cdkDropListData]="done"-->
<!--        [cdkDropListConnectedTo]="[todoList]"-->
<!--        class="example-list"-->
<!--        (cdkDropListDropped)="drop($event)">-->
<!--        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

