<div class="pos-rlt">
    <div class="page-bg" data-stellar-ratio="2" style="background-image: url('https://photo-zmp3.zadn.vn/album_default.png');"></div>
  </div>
  <div class="page-content">
    <div class="padding b-b">
      <div class="row-col" *ngIf="lastPlaylist">
          <div class="col-sm w w-auto-xs m-b">
            <div class="item w r">
              <div class="item-media">
                <div class="item-media-content" style="background-image: url('https://photo-zmp3.zadn.vn/album_default.png');"></div>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="p-l-md no-padding-xs">
              <div class="page-title">
                <h1 class="inline">{{lastPlaylist.name_playlist}}</h1>
              </div>
              <p class="item-desc text-ellipsis text-muted" data-ui-toggle-class="text-ellipsis">User: {{lastPlaylist.username}}</p>
              <p class="item-desc text-ellipsis text-muted" data-ui-toggle-class="text-ellipsis">Description {{lastPlaylist.description}}</p>
              <div class="item-action m-b">
                <a class="btn btn-icon white rounded btn-share pull-right" data-toggle="modal" data-target="#share-modal"><i class="fa fa-share-alt"></i></a>
                <button class="btn-playpause text-primary m-r-sm"></button> 
                <span class="text-muted">2356</span>
                <a class="btn btn-icon rounded btn-favorite"><i class="fa fa-heart-o"></i></a> 
                <span class="text-muted">232</span>
                <div class="inline dropdown m-l-xs">
                  <a class="btn btn-icon rounded btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                  <div class="dropdown-menu pull-right black lt"></div>
                </div>
              </div>
              <!-- <div class="item-meta">
                <a class="btn btn-xs rounded white">Pop</a> <a class="btn btn-xs rounded white">Happy</a>
              </div> -->
            </div>
          </div>
      </div>
    </div>
  
    <div class="row-col">
      <div class="col-lg-9 b-r no-border-md">
        <div class="padding">
  
            <h6 class="m-b">
              <span class="text-muted">by</span> 
              <a href="artist.detail.html" data-pjax class="item-author _600" *ngIf="lastPlaylist">{{lastPlaylist.name_playlist}}</a> 
              <span class="text-muted text-sm" *ngIf="songOfLastPlaylist">- {{songOfLastPlaylist.length}} song</span>
            </h6>
            <div id="tracks" class="row item-list item-list-xs item-list-li m-b">
                  <div class="col-xs-12" *ngFor="let song of songOfLastPlaylist">
                      <div class="item r" [attr.data-id]="song.id" [attr.data-src]="song.mp3Url" >
                          <div class="item-media ">
                              <a href="track.detail.html" class="item-media-content" style="background-image: url(' + song.avatarUrl + ');"></a>
                              <div class="item-overlay center">
                                  <button  class="btn-playpause">Play</button>
                              </div>
                          </div>
                          <div class="item-info">
                              <!-- <div class="item-overlay bottom text-right">
                                  <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                                  <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                                  <div class="dropdown-menu pull-right black lt"></div>
                              </div> -->
                              <div class="item-title text-ellipsis">
                                  <a href="track.detail.html">{{song.nameSong}}</a>
                              </div>
                              <!-- <div class="item-author text-sm text-ellipsis hide">
                                  <a href="artist.detail.html" class="text-muted">{{song.}}</a>
                              </div> -->
                              <!-- <div class="item-meta text-sm text-muted">
                                <span class="item-meta-right">5:05</span>
                              </div> -->
              
              
                          </div>
                      </div>
                  </div>
            </div>
            <!-- <h5 class="m-b">From Rachel</h5>
            <div class="row m-b">
                  <div class="col-xs-6 col-sm-6 col-md-3">
                      <div class="item r" data-id="item-12" data-src="http://api.soundcloud.com/tracks/174495152/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                          <div class="item-media ">
                              <a href="track.detail.html" class="item-media-content" style="background-image: url('images/b11.jpg');"></a>
                              <div class="item-overlay center">
                                  <button  class="btn-playpause">Play</button>
                              </div>
                          </div>
                          <div class="item-info">
                              <div class="item-overlay bottom text-right">
                                  <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                                  <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                                  <div class="dropdown-menu pull-right black lt"></div>
                              </div>
                              <div class="item-title text-ellipsis">
                                  <a href="track.detail.html">Happy ending</a>
                              </div>
                              <div class="item-author text-sm text-ellipsis hide">
                                  <a href="artist.detail.html" class="text-muted">Postiljonen</a>
                              </div>
                              <div class="item-meta text-sm text-muted">
                                <span class="item-meta-stats text-xs ">
                                    <i class="fa fa-play text-muted"></i> 860 
                                    <i class="fa fa-heart m-l-sm text-muted"></i> 240
                                </span>
                              </div>
              
              
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-3">
                      <div class="item r" data-id="item-5" data-src="http://streaming.radionomy.com/JamendoLounge">
                          <div class="item-media ">
                              <a href="track.detail.html" class="item-media-content" style="background-image: url('images/b4.jpg');"></a>
                              <div class="item-overlay center">
                                  <button  class="btn-playpause">Play</button>
                              </div>
                          </div>
                          <div class="item-info">
                              <div class="item-overlay bottom text-right">
                                  <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                                  <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                                  <div class="dropdown-menu pull-right black lt"></div>
                              </div>
                              <div class="item-title text-ellipsis">
                                  <a href="track.detail.html">Live Radio</a>
                              </div>
                              <div class="item-author text-sm text-ellipsis hide">
                                  <a href="artist.detail.html" class="text-muted">Radionomy</a>
                              </div>
                              <div class="item-meta text-sm text-muted">
                                <span class="item-meta-stats text-xs ">
                                    <i class="fa fa-play text-muted"></i> 3340 
                                    <i class="fa fa-heart m-l-sm text-muted"></i> 100
                                </span>
                              </div>
              
              
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-3">
                      <div class="item r" data-id="item-1" data-src="http://api.soundcloud.com/tracks/269944843/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                          <div class="item-media ">
                              <a href="track.detail.html" class="item-media-content" style="background-image: url('images/b0.jpg');"></a>
                              <div class="item-overlay center">
                                  <button  class="btn-playpause">Play</button>
                              </div>
                          </div>
                          <div class="item-info">
                              <div class="item-overlay bottom text-right">
                                  <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                                  <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                                  <div class="dropdown-menu pull-right black lt"></div>
                              </div>
                              <div class="item-title text-ellipsis">
                                  <a href="track.detail.html">Pull Up</a>
                              </div>
                              <div class="item-author text-sm text-ellipsis hide">
                                  <a href="artist.detail.html" class="text-muted">Summerella</a>
                              </div>
                              <div class="item-meta text-sm text-muted">
                                <span class="item-meta-stats text-xs ">
                                    <i class="fa fa-play text-muted"></i> 3200 
                                    <i class="fa fa-heart m-l-sm text-muted"></i> 210
                                </span>
                              </div>
              
              
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-3">
                      <div class="item r" data-id="item-8" data-src="http://api.soundcloud.com/tracks/236288744/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                          <div class="item-media ">
                              <a href="track.detail.html" class="item-media-content" style="background-image: url('images/b7.jpg');"></a>
                              <div class="item-overlay center">
                                  <button  class="btn-playpause">Play</button>
                              </div>
                          </div>
                          <div class="item-info">
                              <div class="item-overlay bottom text-right">
                                  <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                                  <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                                  <div class="dropdown-menu pull-right black lt"></div>
                              </div>
                              <div class="item-title text-ellipsis">
                                  <a href="track.detail.html">Simple Place To Be</a>
                              </div>
                              <div class="item-author text-sm text-ellipsis hide">
                                  <a href="artist.detail.html" class="text-muted">RYD</a>
                              </div>
                              <div class="item-meta text-sm text-muted">
                                <span class="item-meta-stats text-xs ">
                                    <i class="fa fa-play text-muted"></i> 400 
                                    <i class="fa fa-heart m-l-sm text-muted"></i> 220
                                </span>
                              </div>
              
              
                          </div>
                      </div>
                  </div>
            </div> -->
            <h5 class="m-b">Comments</h5>
            <div class="streamline m-b m-l">
                    <div class="sl-item">
                      <div class="sl-left">
                        <img src="images/a0.jpg" alt="." class="img-circle">
                      </div>
                      <div class="sl-content">
                        
                        <div class="sl-author m-b-0">
                          <a href="#">Peter Joo</a>
                          <span class="sl-date text-muted">2 minutes ago</span>
                        </div>
                        <div>
                          <p>Check your Internet connection</p>
                        </div>
                        <div class="sl-footer">
                          <a href="#" data-toggle="collapse" data-target="#reply-1">
                            <i class="fa fa-fw fa-mail-reply text-muted"></i> Reply
                          </a>
                        </div>
                        <div class="box collapse m-a-0 b-a" id="reply-1">
                          <form>
                            <textarea class="form-control no-border" rows="3" placeholder="Type something..."></textarea>
                          </form>
                          <div class="box-footer clearfix">
                            <button class="btn btn-info pull-right btn-sm">Post</button>
                            <ul class="nav nav-pills nav-sm">
                              <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-camera text-muted"></i></a></li>
                              <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-video-camera text-muted"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sl-item">
                      <div class="sl-left">
                        <img src="images/a2.jpg" alt="." class="img-circle">
                      </div>
                      <div class="sl-content">
                        <div class="sl-author m-b-0">
                          <a href="#">Moke</a>
                          <span class="sl-date text-muted">8:30</span>
                        </div>
                        <div>
                          <p>Call to customer <a href="#" class="text-primary">Jacob</a> and discuss the detail.</p>
                        </div>
                      </div>
                    </div>
                    <div class="sl-item">
                      <div class="sl-left">
                        <img src="images/a3.jpg" alt="." class="img-circle">
                      </div>
                      <div class="sl-content">
                        <div class="sl-author m-b-0">
                          <a href="#">Moke</a>
                          <span class="sl-date text-muted">Sat, 5 Mar</span>
                        </div>
                        <blockquote>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante soe aiea ose dos soois.</p>
                          <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                        </blockquote>
  
                      <div class="sl-item">
                        <div class="sl-left">
                          <img src="images/a2.jpg" alt="." class="img-circle">
                        </div>
                        <div class="sl-content">
                          <div class="sl-date text-muted">Sun, 11 Feb</div>
                          <p><a href="#" class="text-primary">Jessi</a> assign you a task <a href="#" class="text-primary">Mockup Design</a>.</p>
                        </div>
                      </div>
                      <div class="sl-item">
                        <div class="sl-left">
                          <img src="images/a5.jpg" alt="." class="img-circle">
                        </div>
                        <div class="sl-content">
                          <div class="sl-date text-muted">Thu, 17 Jan</div>
                          <p>Follow up to close deal</p>
                        </div>
                      </div>
  
                      </div>
                    </div>
            </div>
            <h5 class="m-t-lg m-b">Leave a comment</h5>
            <form>
              <div class="form-group row">
                <div class="col-sm-6">
                  <label>Your name</label>
                  <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="col-sm-6">
                  <label >Email</label>
                  <input type="email" class="form-control" placeholder="Enter email">
                </div>
              </div>
              <div class="form-group">
                <label>Comment</label>
                <textarea class="form-control" rows="5" placeholder="Type your comment"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-sm white rounded">Submit comment</button>
              </div>
            </form>
  
        </div>
      </div>
    </div>
  </div>