<nav class="scroll nav-stacked nav-active-primary">

  <ul class="nav" data-ui-nav>
    <li *ngIf="isLoggedIn" class="nav-header hidden-folded">
      <span class="text-xs text-muted">Welcome, {{ user.username }}</span>
    </li>
    <!--            <li>-->
    <!--              <a href="player.html">-->
    <!--                  <span class="nav-icon">-->
    <!--                    <i class="material-icons">-->
    <!--                      play_circle_outline-->
    <!--                    </i>-->
    <!--                  </span>-->
    <!--                <span class="nav-text">Discover</span>-->
    <!--              </a>-->
    <!--            </li>-->
    <li>
      <a [routerLink]="['/browse']" href="browse.html">
                  <span class="nav-icon">
                    <i class="material-icons">
                      sort
                    </i>
                  </span>
        <span class="nav-text">Browse</span>
      </a>
    </li>
    <!--            <li>-->
    <!--              <a href="chart.html">-->
    <!--                  <span class="nav-icon">-->
    <!--                    <i class="material-icons">-->
    <!--                      trending_up-->
    <!--                    </i>-->
    <!--                  </span>-->
    <!--                <span class="nav-text">Charts</span>-->
    <!--              </a>-->
    <!--            </li>-->
    <!--            <li>-->
    <!--              <a href="artist.html">-->
    <!--                  <span class="nav-icon">-->
    <!--                    <i class="material-icons">-->
    <!--                      portrait-->
    <!--                    </i>-->
    <!--                  </span>-->
    <!--                <span class="nav-text">Artist</span>-->
    <!--              </a>-->
    <!--            </li>-->
    <!--            <li>-->
    <!--              <a data-target="#search-modal" data-toggle="modal">-->
    <!--                  <span class="nav-icon">-->
    <!--                    <i class="material-icons">-->
    <!--                      search-->
    <!--                    </i>-->
    <!--                  </span>-->
    <!--                <span class="nav-text">Search</span>-->
    <!--              </a>-->
    <!--            </li>-->
    <li>
      <a [routerLink]="['/search']">
                  <span class="nav-icon">
                    <i class="material-icons">
                      search
                    </i>
                  </span>
        <span class="nav-text">Search</span>
      </a>
    </li>
    <li *ngIf="isLoggedIn">
      <a [routerLink]="['/profile']">
                  <span class="nav-icon">
                    <i class="material-icons">

                    </i>
                  </span>
        <span class="nav-text">Profile</span>
      </a>
    </li>
    <li *ngIf="isLoggedIn">
      <a [routerLink]="['/listsongs']">
                  <span class="nav-icon">
                    <i class="material-icons">

                    </i>
                  </span>
        <span class="nav-text">My List</span>
      </a>
    </li>
    <li *ngIf="isLoggedIn">
      <a [routerLink]="['/create-song']">
                  <span class="nav-icon">
                    <i class="material-icons">

                    </i>
                  </span>
        <span class="nav-text">Add Song</span>
      </a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a [routerLink]="['/login']">
                  <span class="nav-icon">
                    <i class="material-icons">

                    </i>
                  </span>
        <span class="nav-text">Login</span>
      </a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a [routerLink]="['/signup']">
                  <span class="nav-icon">
                    <i class="material-icons">

                    </i>
                  </span>
        <span class="nav-text">Signup</span>
      </a>
    </li>
    <li *ngIf="isLoggedIn">
      <a [routerLink]="['/changepass']">
                  <span class="nav-icon">
                    <i class="material-icons">

                    </i>
                  </span>
        <span class="nav-text">Change Password</span>
      </a>
    </li>
    <li *ngIf="isLoggedIn">
      <a (click)="loginComponent.signOut()">
                  <span class="nav-icon">
                    <i class="material-icons">

                    </i>
                  </span>
        <span class="nav-text">Logout</span>
      </a>
    </li>

    <li class="nav-header hidden-folded m-t">
      <span class="text-xs text-muted">Your collection</span>
    </li>
    <li>
      <a href="profile.html#tracks">
                  <span class="nav-label">
                    <b class="label">8</b>
                  </span>
        <span class="nav-icon">
                    <i class="material-icons">
                      list
                    </i>
                  </span>
        <span class="nav-text">Tracks</span>
      </a>
    </li>
    <li>
      <a href="profile.html#playlists">
                  <span class="nav-icon">
                    <i class="material-icons">
                      queue_music
                    </i>
                  </span>
        <span class="nav-text">Playlists</span>
      </a>
    </li>
    <li>
      <a href="profile.html#likes">
                  <span class="nav-icon">
                    <i class="material-icons">
                      favorite_border
                    </i>
                  </span>
        <span class="nav-text">Likes</span>
      </a>
    </li>
  </ul>
</nav>
