<div>
  <div *ngFor="let song of showmoreSongLastest" class="col-xs-2 col-sm-2 col-md-2">
    <div [attr.data-id]="song.id" [attr.data-src]="song.mp3Url" class="item r">
      <div class="item-media ">
        <a [ngStyle]="{'background-image': 'url(' + song.avatarUrl + ')'}" class="item-media-content" href="track.detail.html"></a>
        <div class="item-overlay center">
          <button class="btn-playpause">Play</button>
        </div>
      </div>
      <div class="item-info">
        <div class="item-overlay bottom text-right">
          <a class="btn-favorite" href="#">
            <i class="fa fa-heart-o"></i>
          </a>
          <a [attr.data-song-id]="song.id" class="btn-more" data-toggle="dropdown" href="#">
            <i class="fa fa-ellipsis-h"></i>
          </a>
          <div class="dropdown-menu pull-right black lt"></div>
        </div>
        <div class="item-title text-ellipsis">
          <a href="track.detail.html">{{ song.nameSong }}</a>
        </div>
        <div class="item-author text-sm text-ellipsis">
          <a *ngFor="let singer of song.singers" class="text-muted" href="artist.detail.html">
            {{ singer.singer_name }},
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
