<div class="page-title m-b">
  <h1 class="inline m-a-0" style="padding-left: 50px">Edit Song</h1>
</div>

<div class="container-fluid">
  <form (ngSubmit)="updateSong()" [formGroup]="updateMusicForm">
    <div class="row">

      <div class="col-md-4">
        <p></p>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label><strong style="color: darkgray;">Name Song: </strong></mat-label>
          <input [(ngModel)]="nameSong" formControlName="nameSong" matInput placeholder="Hello" type="text">
          <mat-error
            *ngIf="updateMusicForm.get('nameSong').invalid && updateMusicForm.get('nameSong').touched">
            Name Song is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label><strong>Image song: </strong></label> &nbsp;
          <label class="label-input" for="avatar">
            <div *ngIf="firebase.fileToUpload; else NoSelect">
              Filename: {{ firebase.fileToUpload.name }}
            </div>
            <ng-template #NoSelect>
              Choose File
            </ng-template>
            <input (change)="firebase.handleFileInput($event)" accept="image/*" autocomplete="off" class="form-control" formControlName="avatarUrl"
                   id="avatar"
                   type="file"
            />
          </label>

          <div *ngIf="firebase.percentage | async as pct">
            <!--  <mat-progress-bar mode="determinate" [value]="pct"></mat-progress-bar>-->
            <div class="col-12">
              <div class="progress">
                <div [ngStyle]="{ width: pct + '%' }" aria-valuemax="100"
                     aria-valuemin="0" aria-valuenow="{{ pct | number }}" class="progress-bar progress-bar-info progress-bar-striped"
                     role="progressbar"> {{ pct | number }}%
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="firebase.fb as url">
            <img [src]="firebase.fb" class="img-thumbnail img-fluid" style="width: 120px; height: 120px;"><br>
          </div>

          <div *ngIf="updateMusicForm.get('avatarUrl').invalid && updateMusicForm.get('avatarUrl').touched"
               style="color: #ff0000">
            Avatar is <strong>required</strong>.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <p></p>
      </div>


    </div>

    <div class="row">

      <div class="col-md-4">
        <p></p>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label><strong>Mp3 file: </strong> </label> &nbsp;
          <label class="label-input" for="mp3Url">
            <div *ngIf="firebaseMP3.fileToUpload; else NoSelect">
              Filename: {{ firebaseMP3.fileToUpload.name }}
            </div>
            <ng-template #NoSelect>
              Choose File
            </ng-template>
            <input (change)="firebaseMP3.handleFileInput($event)" accept="audio/*" autocomplete="off" class="form-control" formControlName="mp3Url"
                   id="mp3Url"
                   type="file"
            />
          </label>

          <div *ngIf="firebaseMP3.percentage | async as pct">
            <!--  <mat-progress-bar mode="determinate" [value]="pct"></mat-progress-bar>-->
            <div class="col-12">
              <div class="progress">
                <div [ngStyle]="{ width: pct + '%' }" aria-valuemax="100"
                     aria-valuemin="0" aria-valuenow="{{ pct | number }}" class="progress-bar progress-bar-info progress-bar-striped"
                     role="progressbar"> {{ pct | number }}%
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="firebaseMP3.fb as urlMp3">
            <audio class="playlist" controls="controls" id="audio" style="width:100%">
              <source src="{{ urlMp3 }}" type="audio/mpeg">
            </audio>
          </div>

          <div *ngIf="updateMusicForm.get('mp3Url').invalid && updateMusicForm.get('mp3Url').touched"
               style="color: #ff0000">
            Mp3 Url is <strong>required</strong>.
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label><strong style="color: darkgray;">Author: </strong></mat-label>
          <input [(ngModel)]="author" formControlName="author" matInput type="text">
          <mat-error
            *ngIf="updateMusicForm.get('author').invalid && updateMusicForm.get('author').touched">
            Author is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <p></p>
      </div>


    </div>

    <div class="row">

      <div class="col-md-4">
        <p></p>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label><strong style="color: darkgray;">Views: </strong></mat-label>
          <input [(ngModel)]="views" formControlName="views" matInput type="number">
          <mat-error
            *ngIf="updateMusicForm.get('views').invalid && updateMusicForm.get('views').touched">
            Views is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label><strong style="color: darkgray;">Singer: </strong></mat-label>
          <mat-select formControlName="singer_id" multiple>
            <mat-option *ngFor="let singer of singers" [value]="singer.id">{{ singer.singer_name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="updateMusicForm.get('singer_id').invalid && updateMusicForm.get('singer_id').touched" style="color: #ff0000">
            Singer is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <p></p>
      </div>


    </div>

    <div class="row">

      <div class="col-md-4">
        <p></p>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label><strong style="color: darkgray;">Category: </strong></mat-label>
          <mat-select formControlName="category_id">
            <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.category_name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="updateMusicForm.get('category_id').invalid && updateMusicForm.get('category_id').touched" style="color: #ff0000">
            Category is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label><strong style="color: darkgray;">Album: </strong></mat-label>
          <mat-select formControlName="album_id">
            <mat-option *ngFor="let album of albums" [value]="album.id">{{ album.album_name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="updateMusicForm.get('album_id').invalid && updateMusicForm.get('album_id').touched" style="color: #ff0000">
            Album is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <p></p>
      </div>


    </div>

    <div class="row">
      <div class="col-md-4">
        <p></p>
      </div>
      <div align="center" class="col-md-4" style="text-align: center">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label><strong style="color: darkgray;">Describes: </strong></mat-label>
          <textarea [(ngModel)]="describes" formControlName="describes" matInput></textarea>
          <mat-error
            *ngIf="updateMusicForm.get('describes').invalid && updateMusicForm.get('describes').touched">
            Describes is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <p></p>
      </div>

    </div>

    <div class="row">

      <div class="col-md-4">
        <p></p>
      </div>
      <div class="col-md-4" style="text-align: center">
        <button [disabled]="!updateMusicForm.valid" class="btn btn-primary" type="submit">Sửa Bài Hát</button>
      </div>
      q
      <div class="col-md-4">
        <p></p>
      </div>


    </div>
  </form>
</div>
