<div class="container">
  <form [formGroup]="registerForm" class="example-form">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Username</mat-label>
      <input formControlName="username" matInput placeholder="Username" type="text">
      <mat-error
        *ngIf="registerForm.get('username')!.invalid && registerForm.get('username')!.touched  || (registerForm.get('username').untouched) && registerFormAttempt">
        Username is <strong>required</strong>.
      </mat-error>
    </mat-form-field>

    <br>
    <br>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Phone</mat-label>
      <input formControlName="phone" matInput placeholder="0123456789" type="text">
      <mat-error
        *ngIf="registerForm.get('phone')!.invalid && registerForm.get('phone')!.touched  || (registerForm.get('phone').untouched) && registerFormAttempt">
        <span *ngIf="registerForm.get('phone').hasError('required')">Phone is <strong>required</strong>.</span>
        <span *ngIf="registerForm.get('phone').hasError('pattern')">Phone must start with 0 followed by 9 or 10 digits.</span>
      </mat-error>
    </mat-form-field>

    <br>
    <br>

    <mat-form-field appearance="fill" class="example-full-width">
      <input formControlName="password" matInput placeholder="New password" required>
      <mat-error *ngIf="registerForm.get('password')!.invalid && registerForm.get('password')!.touched">
        <span
          *ngIf="registerForm.get('password').hasError('required')">Please enter <strong>your password</strong>.</span><br>
        <span
          *ngIf="registerForm.get('password').hasError('minlength')">Password should contain 6 characters.</span><br>
        <span *ngIf="registerForm.get('password').hasError('maxlength')">Password should contain less than or equal to 8 characters.</span><br>
      </mat-error>
    </mat-form-field>

    <br>
    <br>

    <mat-form-field appearance="fill" class="example-full-width">
      <input [errorStateMatcher]="matcher" formControlName="password_confirmation" matInput
             placeholder="Confirm password">
      <mat-error
        *ngIf="registerForm.get('password_confirmation')!.invalid && registerForm.get('password_confirmation')!.touched">
        <span *ngIf="registerForm.get('password_confirmation').hasError('required')">Password Confirm is <strong>required</strong>.</span><br>
        <span *ngIf="registerForm.hasError('passwordnotmatch')">Passwords do not match</span><br>

        <span *ngIf="registerForm.get('password_confirmation').hasError('minlength')">Password Confirm should contain 6 characters.</span><br>
        <span *ngIf="registerForm.get('password_confirmation').hasError('maxlength')">Password Confirm should contain less than or equal to 8 characters.</span><br>
      </mat-error>
    </mat-form-field>

    <br>
    <br>
    <mat-card-actions>
      <button (click)="onSubmit()" [disabled]="!registerForm.valid" color="primary" mat-raised-button type="submit"> Add </button> &nbsp;
      <button (click)="reset()" color="warn" mat-raised-button>Reset</button>
    </mat-card-actions>
  </form>
</div>
