<div class="page-content">
  <div class="row-col">
    <div class="col-lg-9 b-r no-border-md">
      <div class="padding">
        <div class="page-title m-b">
          <h1 class="inline m-a-0">Browse</h1>
          <div class="dropdown inline">
            <button class="btn btn-sm no-bg h4 m-y-0 v-b dropdown-toggle text-primary" data-toggle="dropdown">
              All
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item active" href="#">
                All
              </a>
              <a class="dropdown-item" href="#">
                acoustic
              </a>
              <a class="dropdown-item" href="#">
                ambient
              </a>
              <a class="dropdown-item" href="#">
                blues
              </a>
              <a class="dropdown-item" href="#">
                classical
              </a>
              <a class="dropdown-item" href="#">
                country
              </a>
              <a class="dropdown-item" href="#">
                electronic
              </a>
              <a class="dropdown-item" href="#">
                emo
              </a>
              <a class="dropdown-item" href="#">
                folk
              </a>
              <a class="dropdown-item" href="#">
                hardcore
              </a>
              <a class="dropdown-item" href="#">
                hip hop
              </a>
              <a class="dropdown-item" href="#">
                indie
              </a>
              <a class="dropdown-item" href="#">
                jazz
              </a>
              <a class="dropdown-item" href="#">
                latin
              </a>
              <a class="dropdown-item" href="#">
                metal
              </a>
              <a class="dropdown-item" href="#">
                pop
              </a>
              <a class="dropdown-item" href="#">
                pop punk
              </a>
              <a class="dropdown-item" href="#">
                punk
              </a>
              <a class="dropdown-item" href="#">
                reggae
              </a>
              <a class="dropdown-item" href="#">
                rnb
              </a>
              <a class="dropdown-item" href="#">
                rock
              </a>
              <a class="dropdown-item" href="#">
                soul
              </a>
              <a class="dropdown-item" href="#">
                world
              </a>
            </div>
          </div>
        </div><!-- !isLoading -->
        <div *ngIf="!isLoading else loadingTEMP" class="jscroll-loading-center" data-ui-jp="jscroll" data-ui-options="{
            autoTrigger: true,
            loadingHtml: '<i class=\'fa fa-refresh fa-spin text-md text-muted\'></i>',
            padding: 50,
            nextSelector: 'a.jscroll-next:last'
          }">
          <div class="row">
            <div>
              <div *ngFor="let song of allsongs" class="col-xs-2 col-sm-2 col-md-2">
                <div [attr.data-id]="song.id" [attr.data-src]="song.mp3Url" class="item r">
                  <div class="item-media ">
                    <a [ngStyle]="{'background-image': 'url(' + song.avatarUrl + ')'}" [routerLink]="['/track', song.id]" class="item-media-content"></a>
                    <div class="item-overlay center">
                      <button class="btn-playpause">Play</button>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="item-overlay bottom text-right">
                      <a class="btn-favorite" href="#">
                        <i class="fa fa-heart-o"></i>
                      </a>
                      <a [attr.data-song-id]="song.id" class="btn-more" data-toggle="dropdown" href="#">
                        <i class="fa fa-ellipsis-h"></i>
                      </a>
                      <div class="dropdown-menu pull-right black lt"></div>
                    </div>
                    <div class="item-title text-ellipsis">
                      <a [routerLink]="['/track', song.id]">{{ song.nameSong }}</a>
                    </div>
                    <div class="item-author text-sm text-ellipsis">
                      <a *ngFor="let singer of song.singers" class="text-muted" href="artist.detail.html">
                        {{ singer.singer_name }},
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--          <div class="text-center">-->
          <!--            <a class="btn btn-sm white rounded jscroll-next" href="scroll.item.html">Show More</a>-->
          <!--          </div>-->
        </div>
        <ng-template #loadingTEMP>
          <div class="centered">
            <h1>Loading ...</h1>
            <mat-spinner></mat-spinner>
          </div>
        </ng-template>

      </div>
    </div>
    <div *ngIf="!isLoading" class="col-lg-3 w-xxl w-auto-md">
      <div class="padding" data-ui-jp="stick_in_parent" style="bottom: 60px;">
        <h6 class="text text-muted">5 Likes</h6>
        <div class="row item-list item-list-sm m-b">
          <div class="col-xs-12">
            <div class="item r" data-id="item-6" data-src="http://api.soundcloud.com/tracks/236107824/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
              <div class="item-media ">
                <a class="item-media-content" href="track.detail.html" style="background-image: url('assets/images/b5.jpg');"></a>
              </div>
              <div class="item-info">
                <div class="item-title text-ellipsis">
                  <a href="track.detail.html">Body on me</a>
                </div>
                <div class="item-author text-sm text-ellipsis ">
                  <a class="text-muted" href="artist.detail.html">Rita Ora</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="item r" data-id="item-8" data-src="http://api.soundcloud.com/tracks/236288744/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
              <div class="item-media ">
                <a class="item-media-content" href="track.detail.html" style="background-image: url('assets/images/b7.jpg');"></a>
              </div>
              <div class="item-info">
                <div class="item-title text-ellipsis">
                  <a href="track.detail.html">Simple Place To Be</a>
                </div>
                <div class="item-author text-sm text-ellipsis ">
                  <a class="text-muted" href="artist.detail.html">RYD</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="item r" data-id="item-5" data-src="http://streaming.radionomy.com/JamendoLounge">
              <div class="item-media ">
                <a class="item-media-content" href="track.detail.html" style="background-image: url('assets/images/b4.jpg');"></a>
              </div>
              <div class="item-info">
                <div class="item-title text-ellipsis">
                  <a href="track.detail.html">Live Radio</a>
                </div>
                <div class="item-author text-sm text-ellipsis ">
                  <a class="text-muted" href="artist.detail.html">Radionomy</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="item r" data-id="item-11" data-src="http://api.soundcloud.com/tracks/218060449/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
              <div class="item-media ">
                <a class="item-media-content" href="track.detail.html" style="background-image: url('assets/images/b10.jpg');"></a>
              </div>
              <div class="item-info">
                <div class="item-title text-ellipsis">
                  <a href="track.detail.html">Spring</a>
                </div>
                <div class="item-author text-sm text-ellipsis ">
                  <a class="text-muted" href="artist.detail.html">Pablo Nouvelle</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="item r" data-id="item-10" data-ng-src="http://api.soundcloud.com/tracks/237514750/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
              <div class="item-media ">
                <a class="item-media-content" href="track.detail.html" style="background-image: url('assets/images/b9.jpg');"></a>
              </div>
              <div class="item-info">
                <div class="item-title text-ellipsis">
                  <a href="track.detail.html">The Open Road</a>
                </div>
                <div class="item-author text-sm text-ellipsis ">
                  <a class="text-muted" href="artist.detail.html">Postiljonen</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text text-muted">Go mobile</h6>
        <div class="btn-groups">
          <a class="btn btn-sm dark lt m-r-xs" href="" style="width: 135px">
                <span class="pull-left m-r-sm">
                  <i class="fa fa-apple fa-2x"></i>
                </span>
            <span class="clear text-left l-h-1x">
                  <span class="text-muted text-xxs">Download on the</span>
                  <b class="block m-b-xs">App Store</b>
                </span>
          </a>
          <a class="btn btn-sm dark lt" href="" style="width: 133px">
                <span class="pull-left m-r-sm">
                  <i class="fa fa-play fa-2x"></i>
                </span>
            <span class="clear text-left l-h-1x">
                  <span class="text-muted text-xxs">Get it on</span>
                  <b class="block m-b-xs m-r-xs">Google Play</b>
                </span>
          </a>
        </div>
        <div class="b-b m-y"></div>
        <div class="nav text-sm _600">
          <a class="nav-link text-muted m-r-xs" href="#">About</a>
          <a class="nav-link text-muted m-r-xs" href="#">Contact</a>
          <a class="nav-link text-muted m-r-xs" href="#">Legal</a>
          <a class="nav-link text-muted m-r-xs" href="#">Policy</a>
        </div>
        <p class="text-muted text-xs p-b-lg">&copy; Copyright CodeGym 2021</p>
      </div>
    </div>
  </div>
</div>
