<div class="page-title m-b">
  <h1 class="inline m-a-0" style="padding-left: 50px">Add New Song</h1>
</div>

<div class="container">

  <div class="b-t" style="margin-top: 50px; margin-left: 50px">
    <form [formGroup]="createMusicForm" name="form">

      <div class="form-group row">
        <div class="col-sm-3 form-control-label text-muted">Name song:</div>
        <div class="col-sm-7">
          <input [class.input-invalid]="createMusicForm.get('nameSong')!.invalid && createMusicForm.get('nameSong')!.touched" [class.input-valid]="createMusicForm.get('nameSong')!.valid && createMusicForm.get('nameSong')!.touched" class="form-control" formControlName="nameSong" placeholder="Name song" type="text">
          <div *ngIf="createMusicForm.get('nameSong').invalid && createMusicForm.get('nameSong').touched"
               style="margin-top: 10px;color: red; text-align: left !important;">
            <div [@shake]="shake">
              Name song is <strong>required.</strong>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3 form-control-label text-muted">Author:</div>
        <div class="col-sm-7">
          <input [class.input-invalid]="createMusicForm.get('author')!.invalid && createMusicForm.get('author')!.touched" [class.input-valid]="createMusicForm.get('author')!.valid && createMusicForm.get('author')!.touched" class="form-control" formControlName="author" placeholder="Author" type="text">
          <div *ngIf="createMusicForm.get('author').invalid && createMusicForm.get('author').touched"
               style="margin-top: 10px;color: red; text-align: left !important;">
            <div [@shake]="shake">
              Author is <strong>required.</strong>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3 form-control-label text-muted">Singer:</div>
        <div class="col-sm-7">
          <mat-select [class.input-invalid]="createMusicForm.get('singer_id')!.invalid && createMusicForm.get('singer_id')!.touched" [class.input-valid]="createMusicForm.get('singer_id')!.valid && createMusicForm.get('singer_id')!.touched" [placeholder]="'-- Select an Singer --'" class="form-control" formControlName="singer_id" multiple>
            <!--            <mat-option disabled selected value>&#45;&#45; Select an Singer &#45;&#45;</mat-option>-->
            <mat-option *ngFor="let singer of singers" [value]="singer.id">{{ singer.singer_name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="createMusicForm.get('singer_id').invalid && createMusicForm.get('singer_id').touched"
                     style="margin-top: 10px;color: red; text-align: left !important;">
            <div [@shake]="shake">
              Singer is <strong>required.</strong>
            </div>
          </mat-error>
          <!-- </mat-form-field> -->
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3 form-control-label text-muted">Category:</div>
        <div class="col-sm-7">
          <mat-select [class.input-invalid]="createMusicForm.get('category_id')!.invalid && createMusicForm.get('category_id')!.touched" [class.input-valid]="createMusicForm.get('category_id')!.valid && createMusicForm.get('category_id')!.touched" [placeholder]="'-- Select a Category --'" class="form-control" formControlName="category_id">
            <!--            <mat-option disabled selected value>&#45;&#45; Select a Category &#45;&#45;</mat-option>-->
            <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.category_name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="createMusicForm.get('category_id').invalid && createMusicForm.get('category_id').touched"
                     style="margin-top: 10px;color: red; text-align: left !important;">
            <div [@shake]="shake">
              Category is <strong>required.</strong>
            </div>
          </mat-error>
          <!-- </mat-form-field> -->
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3 form-control-label text-muted">Category:</div>
        <div class="col-sm-7">
          <mat-select [class.input-invalid]="createMusicForm.get('album_id')!.invalid && createMusicForm.get('album_id')!.touched" [class.input-valid]="createMusicForm.get('album_id')!.valid && createMusicForm.get('album_id')!.touched" [placeholder]="'-- Select an Album --'" class="form-control" formControlName="album_id">
            <!--            <mat-option disabled selected value>&#45;&#45; Select an Album &#45;&#45;</mat-option>-->
            <mat-option *ngFor="let album of albums" [value]="album.id">{{ album.album_name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="createMusicForm.get('album_id').invalid && createMusicForm.get('album_id').touched"
                     style="margin-top: 10px;color: red; text-align: left !important;">
            <div [@shake]="shake">
              Album is <strong>required.</strong>
            </div>
          </mat-error>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3 form-control-label text-muted">View:</div>
        <div class="col-sm-7">
          <input [class.input-invalid]="createMusicForm.get('views')!.invalid && createMusicForm.get('views')!.touched" [class.input-valid]="createMusicForm.get('views')!.valid && createMusicForm.get('views')!.touched" class="form-control" formControlName="views" placeholder="View" type="text">
          <div *ngIf="createMusicForm.get('views')!.invalid && createMusicForm.get('views')!.touched" style="margin-top: 10px;color: red; text-align: left !important;">
            <div *ngIf="createMusicForm.get('views').hasError('required')">
              <div [@shake]="shake">View is <strong>required.</strong>
              </div>
            </div>
            <div *ngIf="createMusicForm.get('views').hasError('pattern')">
              <div [@shake]="shake">View must be <strong>numberic.</strong>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-3 form-control-label text-muted">Describes:</div>
        <div class="col-sm-7">
          <textarea [class.input-invalid]="createMusicForm.get('describes')!.invalid && createMusicForm.get('describes')!.touched" [class.input-valid]="createMusicForm.get('describes')!.valid && createMusicForm.get('describes')!.touched" class="form-control" formControlName="describes" placeholder="Describes"
                    style="height: 100px;"></textarea>
          <div *ngIf="createMusicForm.get('describes').invalid && createMusicForm.get('describes').touched"
               style="margin-top: 10px;color: red; text-align: left !important;">
            <div [@shake]="shake">
              Describes is <strong>required.</strong>
            </div>
          </div>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-3 form-control-label text-muted">Avatar:</div>
        <div class="col-sm-7">
          <input (change)="firebase.handleFileInput($event)" accept="image/*" autocomplete="off" class="form-control"
                 formControlName="avatarUrl" id="avatar" type="file"/>
          <br>
          <!--          <div *ngIf="firebase.percentage | async as pct">-->
          <!--            <div *ngIf="pct !== 100">-->
          <div *ngIf="firebase.percentage | async as pct">
            <div class="col-12">
              <div class="progress">
                <div [ngStyle]="{ width: pct + '%' }" aria-valuemax="100" aria-valuemin="0"
                     aria-valuenow="{{ pct | number }}" class="progress-bar progress-bar-info progress-bar-striped"
                     role="progressbar"> {{ pct | number }}%
                </div>
              </div>
            </div>
          </div>
          <!--            </div>-->
          <!--          </div>-->
          <!--          <div *ngIf="firebase.fileToUpload;">-->
          <!--            Filename: {{ firebase.fileToUpload.name }}-->
          <!--          </div>-->
          <div *ngIf="createMusicForm.get('avatarUrl').invalid && createMusicForm.get('avatarUrl').touched"
               style="margin-top: 10px;color: red; text-align: left !important;">
            <div [@shake]="shake">
              Avatar is <strong>required.</strong>
            </div>
          </div>
        </div>
        <div *ngIf="firebase.fb as url" class="col-sm-2">
          <img [src]="firebase.fb" class="img-thumbnail img-fluid"><br>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-3 form-control-label text-muted">Mp3:</div>
        <div class="col-sm-7">

          <input (change)="firebaseMP3.handleFileInput($event)" accept="audio/*" autocomplete="off" class="form-control"
                 formControlName="mp3Url" id="mp3Url" type="file"/>

          <br>
          <!--          <div *ngIf="firebaseMP3.percentage | async as pct">-->
          <!--            <div *ngIf="pct !== 100">-->
          <div *ngIf="firebaseMP3.percentage | async as pct">
            <div class="col-12">
              <div class="progress">
                <div [ngStyle]="{ width: pct + '%' }" aria-valuemax="100" aria-valuemin="0"
                     aria-valuenow="{{ pct | number }}" class="progress-bar progress-bar-info progress-bar-striped"
                     role="progressbar"> {{ pct | number }}%
                </div>
              </div>
            </div>
          </div>
          <!--            </div>-->
          <!--          </div>-->
          <!--          <div *ngIf="firebaseMP3.fileToUpload;">-->
          <!--            Filename: {{ firebaseMP3.fileToUpload.name }}-->
          <!--          </div>-->

          <div *ngIf="firebaseMP3.fb as urlMp3">
            <audio class="playlist" controls="controls" id="audio" style="width:100%">
              <source src="{{ urlMp3 }}" type="audio/mpeg">
            </audio>
          </div>

          <div *ngIf="createMusicForm.get('mp3Url').invalid && createMusicForm.get('mp3Url').touched"
               style="color: #ff0000">
            Mp3 Url is <strong>required</strong>.
          </div>
        </div>
      </div>
      <!--        <div class="m-b-md">-->
      <!--          <label class="md-check">-->
      <!--            <input type="checkbox"><i class="primary"></i> Keep me signed in-->
      <!--          </label>-->
      <!--        </div> -->


      <div class="form-group row">
        <div class="col-sm-10 text-center">
          <a [routerLink]="['/profile']" class="btn btn-md dark p-x-md">Cancel</a> &nbsp;
          <button (click)="createSong()" [disabled]="!createMusicForm.valid" class="btn btn-md black p-x-lg" type="submit">
            Add song
          </button>
        </div>
      </div>
      <!-- <button type="submit" (click)="onSubmit()" [disabled]="!loginForm.valid" class="btn btn-lg black p-x-lg">Sign
        in
      </button>-->
    </form>
    <!--      <div class="m-y">-->
    <!--        <a href="forgot-password.html" class="_600">Forgot password?</a>-->
    <!--      </div>-->

  </div>

</div>
