<div class="container">
  <div class="container-fluid row">
    <div class="col-3">
      <!--      <app-menu-left></app-menu-left>-->111
    </div>
    <div class="col-5" style="margin-bottom: 10px">
      <form (ngSubmit)="createSong()" [formGroup]="createMusicForm">
        <div class="form-group">
          <label>Tên bài hát: </label>
          <input type="text" class="form-control" formControlName="nameSong"
                 placeholder="Nhập vào tên bài hát">
          <div *ngIf="createMusicForm.get('nameSong').invalid && createMusicForm.get('nameSong').touched"
               style="color: #ff0000">
            Name Song is <strong>required</strong>.
          </div>
        </div>
        <div class="form-group">
          <label>Ảnh bài hát: </label>
          <label class="label-input" for="avatar">
            <div *ngIf="firebase.fileToUpload; else NoSelect">
              Filename: {{ firebase.fileToUpload.name }}
            </div>
            <ng-template #NoSelect>
              Choose File
            </ng-template>
            <input (change)="firebase.handleFileInput($event)" accept="image/*" autocomplete="off" class="form-control" formControlName="avatarUrl"
                   id="avatar"
                   type="file"
            />
          </label>

          <div *ngIf="firebase.percentage | async as pct">
            <!--  <mat-progress-bar mode="determinate" [value]="pct"></mat-progress-bar>-->
            <div class="col-12">
              <div class="progress">
                <div [ngStyle]="{ width: pct + '%' }" aria-valuemax="100"
                     aria-valuemin="0" aria-valuenow="{{ pct | number }}" class="progress-bar progress-bar-info progress-bar-striped"
                     role="progressbar"> {{ pct | number }}%
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="firebase.fb as url">
          <img [src]="firebase.fb" class="img-thumbnail img-fluid" style="width: 120px; height: 120px;"><br>
          </div>

          <div *ngIf="createMusicForm.get('avatarUrl').invalid && createMusicForm.get('avatarUrl').touched"
               style="color: #ff0000">
            Avatar is <strong>required</strong>.
          </div>
        </div>

        <div class="form-group">
          <label>Mp3: </label>
          <label class="label-input" for="mp3Url">
            <div *ngIf="firebaseMP3.fileToUpload; else NoSelect">
              Filename: {{ firebaseMP3.fileToUpload.name }}
            </div>
            <ng-template #NoSelect>
              Choose File
            </ng-template>
            <input (change)="firebaseMP3.handleFileInput($event)" accept="audio/*" autocomplete="off" class="form-control"  formControlName="mp3Url"
                   id="mp3Url"
                   type="file"
            />
          </label>

          <div *ngIf="firebaseMP3.percentage | async as pct">
            <!--  <mat-progress-bar mode="determinate" [value]="pct"></mat-progress-bar>-->
            <div class="col-12">
              <div class="progress">
                <div [ngStyle]="{ width: pct + '%' }" aria-valuemax="100"
                     aria-valuemin="0" aria-valuenow="{{ pct | number }}" class="progress-bar progress-bar-info progress-bar-striped"
                     role="progressbar"> {{ pct | number }}%
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="firebaseMP3.fb as urlMp3">
            <audio id="audio" class="playlist" style="width:100%" controls="controls">
              <source src="{{ urlMp3 }}" type="audio/mpeg">
            </audio>
          </div>

          <div *ngIf="createMusicForm.get('mp3Url').invalid && createMusicForm.get('mp3Url').touched"
               style="color: #ff0000">
            Mp3 Url is <strong>required</strong>.
          </div>
        </div>


        <div class="form-group">
          <label>Author: </label>
          <input type="text" class="form-control" formControlName="author"
                 placeholder="Nhập vào thể loại nhạc">
          <div *ngIf="createMusicForm.get('author').invalid && createMusicForm.get('author').touched"
               style="color: #ff0000">
            Author is <strong>required</strong>.
          </div>
        </div>

        <div class="form-group">
          <label>Views: </label>
          <input type="text" class="form-control" formControlName="views"
                 placeholder="Nhập vào thể loại nhạc">
          <div *ngIf="createMusicForm.get('views').invalid && createMusicForm.get('views').touched"
               style="color: #ff0000">
            Views is <strong>required</strong>.
          </div>
        </div>

        <div class="form-group">
          <label>Singer: </label>
          <input type="text" class="form-control" formControlName="singer_id"
                 placeholder="Nhập vào thể loại nhạc">
          <div *ngIf="createMusicForm.get('singer_id').invalid && createMusicForm.get('singer_id').touched"
               style="color: #ff0000">
            Singer is <strong>required</strong>.
          </div>
        </div>

        <div class="form-group">
          <label>Thể Loại: </label>
          <input type="text" class="form-control" formControlName="category_id"
                 placeholder="Nhập vào thể loại nhạc">
          <div *ngIf="createMusicForm.get('category_id').invalid && createMusicForm.get('category_id').touched"
               style="color: #ff0000">
            Category is <strong>required</strong>.
          </div>
        </div>

        <div class="form-group">
          <label>Album: </label>
          <select class="form-control" formControlName="album_id">
            <option *ngFor="let album of albums" [value]="album.id">{{ album.album_name }}</option>
          </select>
          <div *ngIf="createMusicForm.get('album_id').invalid && createMusicForm.get('album_id').touched"
               style="color: #ff0000">
            Album is <strong>required</strong>.
          </div>
        </div>

        <div class="form-group">
          <label>Describes: </label>
          <textarea class="form-control" formControlName="describes"
                    placeholder="Nhập vào lời bài hát"></textarea>
          <div *ngIf="createMusicForm.get('describes').invalid && createMusicForm.get('describes').touched"
               style="color: #ff0000">
            Describes is <strong>required</strong>.
          </div>
        </div>
        <div style="margin-bottom: 20px">
          <button type="submit" [disabled]="!createMusicForm.valid" class="btn btn-primary">Thêm Bài Hát</button>
        </div>
      </form>
    </div>
    <div class="col-4" style="margin-bottom: 10px">
      <!--      <app-upload-file (giveURLtoCreate)="onChange($event)"></app-upload-file>-->
      <!--      <app-upload-avatar (giveURLtoCreate)="onAvatar($event)"></app-upload-avatar>-->
    </div>
  </div>
</div>
