<div class="pos-rlt">
  <div class="page-bg" data-stellar-ratio="2" style="background-image: url('assets/images/b5.jpg');"></div>
</div>
<div class="page-content">
  <div class="padding b-b">
    <div *ngIf="singer" class="row-col">
      <div class="col-sm w w-auto-xs m-b">
        <div class="item w rounded">
          <div class="item-media">
            <div [ngStyle]="{'background-image': 'url(' + singer.image + ')'}" class="item-media-content"></div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="p-l-md no-padding-xs">
          <div class="page-title">
            <h1 class="inline">{{singer.singer_name}}</h1>
            <label class="fa fa-star text-primary text-lg m-b v-m m-l-xs" title="Pro"></label>
          </div>
          <p class="item-desc text-ellipsis text-muted" data-ui-toggle-class="text-ellipsis">
            Gender: {{singer.gender}}</p>
          <p class="item-desc text-ellipsis text-muted" data-ui-toggle-class="text-ellipsis">Date of
            birth: {{singer.date_of_birth}}</p>
          <p class="item-desc text-ellipsis text-muted" data-ui-toggle-class="text-ellipsis">Music
            genre: {{singer.music_genre}}</p>
          <p class="item-desc text-ellipsis text-muted" data-ui-toggle-class="text-ellipsis">Band: {{singer.band}}</p>
          <p class="item-desc text-ellipsis text-muted" data-ui-toggle-class="text-ellipsis">Story: {{singer.story}}</p>
          <p class="item-desc text-ellipsis text-muted" data-ui-toggle-class="text-ellipsis">
            Description: {{singer.description}}</p>

          <div class="item-action m-b">
            <a class="btn btn-icon white rounded btn-share pull-right" data-target="#share-modal"
               data-toggle="modal"><i class="fa fa-share-alt"></i></a>
            <button class="btn-playpause text-primary m-r-sm"></button>
            <span>9 Albums, {{ songOfSinger.length || 0 }} Tracks</span>
          </div>
          <div class="block clearfix m-b">
            <a class="btn btn-xs rounded white">Soul</a> <a class="btn btn-xs rounded white">Electro</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row-col">
    <div class="col-lg-9 b-r no-border-md">
      <div class="padding">
        <!-- <div class="nav-active-border b-primary bottom m-b-md">
            <ul class="nav l-h-2x">
                <li class="nav-item m-r inline">
                    <a class="nav-link active" href="#" data-toggle="tab" data-target="#tab_1">Overview</a>
                </li>
            </ul>
        </div> -->
        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
            <h5 class="m-b">Popular</h5>
            <div class="row item-list item-list-md item-list-li m-b" id="tracks">
              <div *ngFor="let song of songOfSinger" class="col-md-12 col-lg-3">
                <div [attr.data-id]="song.id" [attr.data-src]="song.mp3Url" class="item r">
                  <div class="item-media ">
                    <a [ngStyle]="{'background-image': 'url(' + song.avatarUrl + ')'}" [routerLink]="['/track', song.id]"
                       class="item-media-content"></a>
                    <div class="item-overlay center">
                      <button class="btn-playpause">Play</button>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="item-overlay bottom text-right">
                      <app-song-like [songIdInput]="song.id"></app-song-like>
                      <a class="btn-favorite" href="#"><i class="fa fa-heart-o"></i></a>
                      <a class="btn-more" data-toggle="dropdown" href="#"><i
                        class="fa fa-ellipsis-h"></i></a>
                      <div class="dropdown-menu pull-right black lt"></div>
                    </div>
                    <div class="item-title text-ellipsis">
                      <a [routerLink]="['/track', song.id]"> {{song.nameSong}}</a>
                    </div>
                    <div class="item-author text-sm text-ellipsis">
                      <a class="text-muted" href="artist.detail.html">Category: {{song.category}}</a>
                    </div>
                    <div class="item-author text-sm text-ellipsis">
                      <a class="text-muted" href="artist.detail.html">Album: {{song.album}}</a>
                    </div>
                    <div class="item-author text-sm text-ellipsis">
                      <a class="text-muted" href="artist.detail.html">Author: {{song.author}}</a>
                    </div>
                    <div class="item-meta text-sm text-muted">
                                            <span class="item-meta-stats text-xs ">
                                                <i class="fa fa-play text-muted"></i> {{song.views}}
                                              <i class="fa fa-heart m-l-sm text-muted"></i> 10
                                            </span>
                    </div>


                  </div>
                </div>
              </div>

              <div class="col-xs-12">
                <app-ngx-audio [listTracks]="tracks1"></app-ngx-audio>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 w-xxl w-auto-md">
      <div class="padding" data-ui-jp="stick_in_parent" style="bottom: 60px;">
        <h6 class="text text-muted">Top 10 Likes</h6>
        <div class="row item-list item-list-sm m-b">
          <div *ngFor="let song of getLikesTop10" class="col-xs-12">
            <div class="item r" [attr.data-id]="song.id" [attr.data-src]="song.mp3Url">
              <div class="item-media ">
                <a class="item-media-content" [ngStyle]="{'background-image': 'url(' + song.avatarUrl + ')'}" [routerLink]="['/track', song.id]"></a>
              </div>
              <div class="item-info">
                <div class="item-overlay bottom text-right">
                  <app-song-like [songIdInput]="song.id"></app-song-like>
                  <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                  <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                  <div class="dropdown-menu pull-right black lt"></div>
                </div>
                <div class="item-title text-ellipsis">
                  <a [routerLink]="['/track', song.id]">{{ song.nameSong }}</a>
                </div>
                <div class="item-author text-sm text-ellipsis">
                  <a *ngFor="let singer of song.singers" class="text-muted" [routerLink]="['/singer/song', singer.id]">
                    {{ singer.singer_name }},
                  </a>
                </div>


              </div>
            </div>
          </div>
        </div>
        <h6 class="text text-muted">Go mobile</h6>
        <div class="btn-groups">
          <a class="btn btn-sm dark lt m-r-xs" href="" style="width: 135px">
                <span class="pull-left m-r-sm">
                  <i class="fa fa-apple fa-2x"></i>
                </span>
            <span class="clear text-left l-h-1x">
                  <span class="text-muted text-xxs">Download on the</span>
                  <b class="block m-b-xs">App Store</b>
                </span>
          </a>
          <a class="btn btn-sm dark lt" href="" style="width: 133px">
                <span class="pull-left m-r-sm">
                  <i class="fa fa-play fa-2x"></i>
                </span>
            <span class="clear text-left l-h-1x">
                  <span class="text-muted text-xxs">Get it on</span>
                  <b class="block m-b-xs m-r-xs">Google Play</b>
                </span>
          </a>
        </div>
        <div class="b-b m-y"></div>
        <div class="nav text-sm _600">
          <a class="nav-link text-muted m-r-xs" href="#">About</a>
          <a class="nav-link text-muted m-r-xs" href="#">Contact</a>
          <a class="nav-link text-muted m-r-xs" href="#">Legal</a>
          <a class="nav-link text-muted m-r-xs" href="#">Policy</a>
        </div>
        <p class="text-muted text-xs p-b-lg">&copy; Copyright 2021</p>
      </div>
    </div>
  </div>
</div>
