<div class="page-title m-b">
  <h1 class="inline m-a-0" style="padding-left: 50px">Profile</h1>
</div>

<div class="app dk" id="app">

  <!-- ############ LAYOUT START-->

  <!-- content -->
  <div class="app-content white bg box-shadow-z2" id="content" role="main">
    <div class="app-header hidden-lg-up white lt box-shadow-z1">
      <div class="navbar">
        <!-- brand -->
        <a class="navbar-brand md" href="index.html" routerLink="/browse">
          <svg height="32" viewBox="0 0 48 48" width="32" xmlns="http://www.w3.org/2000/svg">
            <circle cx="24" cy="24" fill="rgba(255,255,255,0.2)" r="24"/>
            <circle class="brand-color" cx="24" cy="24" fill="#1c202b" r="22"/>
            <circle cx="24" cy="24" fill="#ffffff" r="10"/>
            <circle class="brand-animate" cx="13" cy="13" fill="#ffffff" r="2"/>
            <path d="M 14 24 L 24 24 L 14 44 Z" fill="#FFFFFF"/>
            <circle cx="24" cy="24" fill="#000000" r="3"/>
          </svg>

          <img alt="." class="hide" src="images/logo.png">
          <span class="hidden-folded inline">pulse</span>
        </a>
        <!-- / brand -->
        <!-- nabar right -->
        <ul class="nav navbar-nav pull-right">
          <li class="nav-item">
            <!-- Open side - Naviation on mobile -->
            <a class="nav-link" data-target="#aside" data-toggle="modal">
              <i class="material-icons">menu</i>
            </a>
            <!-- / -->
          </li>
        </ul>
        <!-- / navbar right -->
      </div>
    </div>
    <div class="app-footer app-player grey bg">
      <div class="playlist" style="width:100%"></div>
    </div>
    <div class="app-body" id="view">

      <!-- ############ PAGE START-->
      <div [ngStyle]="{'background-image': 'url(' + avatar + ')'}" class="page-bg" data-stellar-ratio="2"></div>
      <div class="page-content">
        <div class="padding b-b">
          <div class="row-col">
            <div class="col-sm w w-auto-xs m-b">
              <div class="item w rounded">
                <div class="item-media avatar-user">
                  <div [ngStyle]="{'background-image': 'url(' + avatar + ')'}" class="item-media-content"></div>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="p-l-md no-padding-xs">
                <h1 class="page-title">
                  <span class="h1 _800">{{ username }}</span>
                </h1>
                <p class="item-desc text-ellipsis text-muted" data-ui-toggle-class="text-ellipsis">
                  ...
                </p>
                <div class="item-action m-b">
                  <!--                  <a href="#" class="btn btn-sm rounded primary">Upload</a>-->
                  <a [routerLink]="['/user/edit-profile']" class="btn btn-sm rounded primary" href="#">Edit Profile</a>
                  <a [routerLink]="['/user/change-password']" class="btn btn-sm rounded white" href="#">Change
                    Password</a>
                </div>
                <div class="block clearfix m-b">
                  <span>9</span> <span class="text-muted">Albums</span>, <span>23</span>
                  <span class="text-muted">Tracks</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row-col">
          <div class="col-lg-9 b-r no-border-md">
            <div class="padding p-y-0 m-b-md">
              <div class="nav-active-border b-primary bottom m-b-md m-t">
                <ul class="nav l-h-2x" data-ui-jp="taburl">
                  <li class="nav-item m-r inline">
                    <a class="nav-link active" data-target="#track" data-toggle="tab" href="#">Tracks</a>
                  </li>
                  <li class="nav-item m-r inline">
                    <a class="nav-link" data-target="#playlist" data-toggle="tab" href="#">Playlists</a>
                  </li>
                  <li class="nav-item m-r inline">
                    <a class="nav-link" data-target="#like" data-toggle="tab" href="#">Likes</a>
                  </li>
                  <li class="nav-item m-r inline">
                    <a class="nav-link" data-target="#profile" data-toggle="tab" href="#">Profile</a>
                  </li>
                </ul>
              </div>
              <div class="tab-content">
                <div class="tab-pane active" id="track">
                  <div class="row item-list item-list-by m-b">
                    <div *ngFor="let song of songs; let i=index;" class="col-xs-12">
                      <div [attr.data-id]="song.id" [attr.data-src]="song.mp3Url" class="item r">
                        <div class="item-media">
                          <a [ngStyle]="{'background-image': 'url(' + song.avatarUrl + ')'}" class="item-media-content" href="track.detail.html"></a>
                          <div class="item-overlay center">
                            <button class="btn-playpause">Play</button>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a class="btn-favorite" href="#"><i class="fa fa-heart-o"></i></a>
                            <a class="btn-more" data-toggle="dropdown" href="#"><i class="fa fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu pull-right black lt"></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html">{{ song.nameSong }}</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis ">
                            <a class="text-muted" href="artist.detail.html">{{ song.singer_list_name }},</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis hide">
                            <a *ngFor="let singer of song.singers" class="text-muted" href="artist.detail.html">
                              {{ singer.singer_name }},
                            </a>
                          </div>
                          <div class="item-meta text-sm text-muted">
                            <span class="item-meta-category"><a class="label" href="browse.html">Soul</a></span>
                            <span class="item-meta-date text-xs">02.04.2016</span>
                          </div>

                          <div class="item-except visible-list text-sm text-muted h-2x m-t-sm">
                            {{ song.describes.substring(0, 100) }} ...
                          </div>

                          <div class="item-action visible-list m-t-sm">
                            <a [routerLink]="['/user/edit-song', song.id]" class="btn btn-xs white" href="#">Edit</a>
                            <button (click)="openDialog(song.id, song.nameSong)" class="btn btn-xs white">Delete
                            </button>
                            <!--                            data-toggle="modal" data-target="#delete-modal"-->
                            <!--                            <button mat-raised-button color="warn" (click)="openDialog(song.id, song.nameSong)">Xoá</button>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="btn btn-sm white rounded" href="#">Show More</a>
                </div>
                <div class="tab-pane" id="playlist">
                  <div class="row m-b">
                    <div class="col-xs-4 col-sm-4 col-md-3">
                      <div class="item r" data-id="item-2" data-src="http://api.soundcloud.com/tracks/259445397/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                        <div class="item-media ">
                          <a class="item-media-content" href="track.detail.html" style="background-image: url('images/b1.jpg');"></a>
                          <div class="item-overlay center">
                            <button class="btn-playpause">Play</button>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a class="btn-favorite" href="#"><i class="fa fa-heart-o"></i></a>
                            <a class="btn-more" data-toggle="dropdown" href="#"><i class="fa fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu pull-right black lt"></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html">Fireworks</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis hide">
                            <a class="text-muted" href="artist.detail.html">Kygo</a>
                          </div>
                          <div class="item-meta text-sm text-muted">
              		          <span class="item-meta-stats text-xs ">
              		          	<i class="fa fa-play text-muted"></i> 30
              		          	<i class="fa fa-heart m-l-sm text-muted"></i> 10
              		          </span>
                          </div>


                        </div>
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-3">
                      <div class="item r" data-id="item-10" data-src="http://api.soundcloud.com/tracks/237514750/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                        <div class="item-media ">
                          <a class="item-media-content" href="track.detail.html" style="background-image: url('images/b9.jpg');"></a>
                          <div class="item-overlay center">
                            <button class="btn-playpause">Play</button>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a class="btn-favorite" href="#"><i class="fa fa-heart-o"></i></a>
                            <a class="btn-more" data-toggle="dropdown" href="#"><i class="fa fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu pull-right black lt"></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html">The Open Road</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis hide">
                            <a class="text-muted" href="artist.detail.html">Postiljonen</a>
                          </div>
                          <div class="item-meta text-sm text-muted">
              		          <span class="item-meta-stats text-xs ">
              		          	<i class="fa fa-play text-muted"></i> 860
              		          	<i class="fa fa-heart m-l-sm text-muted"></i> 240
              		          </span>
                          </div>


                        </div>
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-3">
                      <div class="item r" data-id="item-1" data-src="http://api.soundcloud.com/tracks/269944843/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                        <div class="item-media ">
                          <a class="item-media-content" href="track.detail.html" style="background-image: url('images/b0.jpg');"></a>
                          <div class="item-overlay center">
                            <button class="btn-playpause">Play</button>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a class="btn-favorite" href="#"><i class="fa fa-heart-o"></i></a>
                            <a class="btn-more" data-toggle="dropdown" href="#"><i class="fa fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu pull-right black lt"></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html">Pull Up</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis hide">
                            <a class="text-muted" href="artist.detail.html">Summerella</a>
                          </div>
                          <div class="item-meta text-sm text-muted">
              		          <span class="item-meta-stats text-xs ">
              		          	<i class="fa fa-play text-muted"></i> 3200
              		          	<i class="fa fa-heart m-l-sm text-muted"></i> 210
              		          </span>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="like">
                  <div class="row m-b">
                    <div class="col-xs-4 col-sm-4 col-md-3">
                      <div class="item r" data-id="item-10" data-src="http://api.soundcloud.com/tracks/237514750/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                        <div class="item-media ">
                          <a class="item-media-content" href="track.detail.html" style="background-image: url('images/b9.jpg');"></a>
                          <div class="item-overlay center">
                            <button class="btn-playpause">Play</button>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a class="btn-favorite" href="#"><i class="fa fa-heart-o"></i></a>
                            <a class="btn-more" data-toggle="dropdown" href="#"><i class="fa fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu pull-right black lt"></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html">The Open Road</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis hide">
                            <a class="text-muted" href="artist.detail.html">Postiljonen</a>
                          </div>
                          <div class="item-meta text-sm text-muted">
              		          <span class="item-meta-stats text-xs ">
              		          	<i class="fa fa-play text-muted"></i> 860
              		          	<i class="fa fa-heart m-l-sm text-muted"></i> 240
              		          </span>
                          </div>


                        </div>
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-3">
                      <div class="item r" data-id="item-11" data-src="http://api.soundcloud.com/tracks/218060449/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                        <div class="item-media ">
                          <a class="item-media-content" href="track.detail.html" style="background-image: url('images/b10.jpg');"></a>
                          <div class="item-overlay center">
                            <button class="btn-playpause">Play</button>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a class="btn-favorite" href="#"><i class="fa fa-heart-o"></i></a>
                            <a class="btn-more" data-toggle="dropdown" href="#"><i class="fa fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu pull-right black lt"></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html">Spring</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis hide">
                            <a class="text-muted" href="artist.detail.html">Pablo Nouvelle</a>
                          </div>
                          <div class="item-meta text-sm text-muted">
              		          <span class="item-meta-stats text-xs ">
              		          	<i class="fa fa-play text-muted"></i> 4500
              		          	<i class="fa fa-heart m-l-sm text-muted"></i> 2310
              		          </span>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="profile">
                  <form>
                    <div class="form-group row">
                      <div class="col-sm-3 form-control-label text-muted">Name</div>
                      <div class="col-sm-9">
                        <input [value]="name" class="form-control" placeholder="Name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-3 form-control-label text-muted">Address</div>
                      <div class="col-sm-9">
                        <input [value]="address" class="form-control" placeholder="Address">
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-3 form-control-label text-muted">Email</div>
                      <div class="col-sm-9">
                        <input [value]="email" class="form-control" placeholder="Email">
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-3 form-control-label text-muted">Phone</div>
                      <div class="col-sm-9">
                        <input [value]="phone" class="form-control" placeholder="Phone">
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-3 form-control-label text-muted">Avatar</div>
                      <div class="col-sm-3">
                        <img [src]="avatar" class="thumbnail img-responsive img-thumbnail img-fluid">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 w-xxl w-auto-md">
            <div class="padding" data-ui-jp="stick_in_parent" style="bottom: 60px;">
              <h6 class="text text-muted">5 Likes</h6>
              <div class="row item-list item-list-sm m-b">
                <div class="col-xs-12">
                  <div class="item r" data-id="item-3" data-src="http://api.soundcloud.com/tracks/79031167/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                    <div class="item-media ">
                      <a class="item-media-content" href="track.detail.html" style="background-image: url('images/b2.jpg');"></a>
                    </div>
                    <div class="item-info">
                      <div class="item-title text-ellipsis">
                        <a href="track.detail.html">I Wanna Be In the Cavalry</a>
                      </div>
                      <div class="item-author text-sm text-ellipsis ">
                        <a class="text-muted" href="artist.detail.html">Jeremy Scott</a>
                      </div>


                    </div>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="item r" data-id="item-1" data-src="http://api.soundcloud.com/tracks/269944843/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                    <div class="item-media ">
                      <a class="item-media-content" href="track.detail.html" style="background-image: url('images/b0.jpg');"></a>
                    </div>
                    <div class="item-info">
                      <div class="item-title text-ellipsis">
                        <a href="track.detail.html">Pull Up</a>
                      </div>
                      <div class="item-author text-sm text-ellipsis ">
                        <a class="text-muted" href="artist.detail.html">Summerella</a>
                      </div>


                    </div>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="item r" data-id="item-12" data-src="http://api.soundcloud.com/tracks/174495152/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                    <div class="item-media ">
                      <a class="item-media-content" href="track.detail.html" style="background-image: url('images/b11.jpg');"></a>
                    </div>
                    <div class="item-info">
                      <div class="item-title text-ellipsis">
                        <a href="track.detail.html">Happy ending</a>
                      </div>
                      <div class="item-author text-sm text-ellipsis ">
                        <a class="text-muted" href="artist.detail.html">Postiljonen</a>
                      </div>


                    </div>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="item r" data-id="item-11" data-src="http://api.soundcloud.com/tracks/218060449/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                    <div class="item-media ">
                      <a class="item-media-content" href="track.detail.html" style="background-image: url('images/b10.jpg');"></a>
                    </div>
                    <div class="item-info">
                      <div class="item-title text-ellipsis">
                        <a href="track.detail.html">Spring</a>
                      </div>
                      <div class="item-author text-sm text-ellipsis ">
                        <a class="text-muted" href="artist.detail.html">Pablo Nouvelle</a>
                      </div>


                    </div>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="item r" data-id="item-6" data-src="http://api.soundcloud.com/tracks/236107824/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                    <div class="item-media ">
                      <a class="item-media-content" href="track.detail.html" style="background-image: url('images/b5.jpg');"></a>
                    </div>
                    <div class="item-info">
                      <div class="item-title text-ellipsis">
                        <a href="track.detail.html">Body on me</a>
                      </div>
                      <div class="item-author text-sm text-ellipsis ">
                        <a class="text-muted" href="artist.detail.html">Rita Ora</a>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
              <h6 class="text text-muted">Go mobile</h6>
              <div class="btn-groups">
                <a class="btn btn-sm dark lt m-r-xs" href="" style="width: 135px">
                <span class="pull-left m-r-sm">
                  <i class="fa fa-apple fa-2x"></i>
                </span>
                  <span class="clear text-left l-h-1x">
                  <span class="text-muted text-xxs">Download on the</span>
                  <b class="block m-b-xs">App Store</b>
                </span>
                </a>
                <a class="btn btn-sm dark lt" href="" style="width: 133px">
                <span class="pull-left m-r-sm">
                  <i class="fa fa-play fa-2x"></i>
                </span>
                  <span class="clear text-left l-h-1x">
                  <span class="text-muted text-xxs">Get it on</span>
                  <b class="block m-b-xs m-r-xs">Google Play</b>
                </span>
                </a>
              </div>
              <div class="b-b m-y"></div>
              <div class="nav text-sm _600">
                <a class="nav-link text-muted m-r-xs" href="#">About</a>
                <a class="nav-link text-muted m-r-xs" href="#">Contact</a>
                <a class="nav-link text-muted m-r-xs" href="#">Legal</a>
                <a class="nav-link text-muted m-r-xs" href="#">Policy</a>
              </div>
              <p class="text-muted text-xs p-b-lg">&copy; Copyright 2016</p>
            </div>
          </div>
        </div>
      </div>

      <!-- .modal -->
      <div class="modal fade animate black-overlay" data-backdrop="false" id="delete-modal">
        <div class="row-col h-v">
          <div class="row-cell v-m">
            <div class="modal-dialog modal-sm">
              <div class="modal-content flip-y">
                <div class="modal-body text-center">
                  <p class="p-y m-t"><i class="fa fa-remove text-warning fa-3x"></i></p>
                  <p>Are you sure to delete this item?</p>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-default p-x-md" data-dismiss="modal" type="button">No</button>
                  <button class="btn red p-x-md" data-dismiss="modal" type="button">Yes</button>
                </div>
              </div><!-- /.modal-content -->
            </div>
          </div>
        </div>
      </div>
      <!-- / .modal -->

      <!-- ############ PAGE END-->

    </div>
  </div>
  <!-- / -->


  <!-- ############ SWITHCHER START-->
  <div id="switcher">
    <div class="switcher white" id="sw-theme">
      <a class="white sw-btn" data-ui-target="#sw-theme" data-ui-toggle-class="active" href="#">
        <i class="fa fa-gear text-muted"></i>
      </a>
      <div class="box-header">
        <strong>Theme Switcher</strong>
      </div>
      <div class="box-divider"></div>
      <div class="box-body">
        <p class="hidden-md-down" id="settingLayout">
          <label class="md-check m-y-xs" data-target="folded">
            <input type="checkbox">
            <i class="green"></i>
            <span>Folded Aside</span>
          </label>
          <label class="m-y-xs pointer" data-target="fullscreen" data-ui-fullscreen>
            <span class="fa fa-expand fa-fw m-r-xs"></span>
            <span>Fullscreen Mode</span>
          </label>
        </p>
        <p>Colors:</p>
        <p data-target="color">
          <label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-md">
            <input name="color" type="radio" value="primary">
            <i class="primary"></i>
          </label>
          <label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-md">
            <input name="color" type="radio" value="accent">
            <i class="accent"></i>
          </label>
          <label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-md">
            <input name="color" type="radio" value="warn">
            <i class="warn"></i>
          </label>
          <label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-md">
            <input name="color" type="radio" value="success">
            <i class="success"></i>
          </label>
          <label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-md">
            <input name="color" type="radio" value="info">
            <i class="info"></i>
          </label>
          <label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-md">
            <input name="color" type="radio" value="blue">
            <i class="blue"></i>
          </label>
          <label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-md">
            <input name="color" type="radio" value="warning">
            <i class="warning"></i>
          </label>
          <label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-md">
            <input name="color" type="radio" value="danger">
            <i class="danger"></i>
          </label>
        </p>
        <p>Themes:</p>
        <div class="text-u-c text-center _600 clearfix" data-target="bg">
          <label class="p-a col-xs-3 light pointer m-a-0">
            <input hidden name="theme" type="radio" value="">
            <i class="active-checked fa fa-check"></i>
          </label>
          <label class="p-a col-xs-3 grey pointer m-a-0">
            <input hidden name="theme" type="radio" value="grey">
            <i class="active-checked fa fa-check"></i>
          </label>
          <label class="p-a col-xs-3 dark pointer m-a-0">
            <input hidden name="theme" type="radio" value="dark">
            <i class="active-checked fa fa-check"></i>
          </label>
          <label class="p-a col-xs-3 black pointer m-a-0">
            <input hidden name="theme" type="radio" value="black">
            <i class="active-checked fa fa-check"></i>
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- ############ SWITHCHER END-->
  <!-- ############ SEARCH START -->
  <div class="modal white lt fade" data-backdrop="false" id="search-modal">
    <a class="text-muted text-lg p-x modal-close-btn" data-dismiss="modal">&times;</a>
    <div class="row-col">
      <div class="p-a-lg h-v row-cell v-m">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <form action="search.html" class="m-b-md">
              <div class="input-group input-group-lg">
                <input class="form-control" data-ui-target="#search-result" data-ui-toggle-class="hide" placeholder="Type keyword" type="text">
                <span class="input-group-btn">
                    <button class="btn b-a no-shadow white" type="submit">Search</button>
                  </span>
              </div>
            </form>
            <div class="animated fadeIn" id="search-result">
              <p class="m-b-md"><strong>23</strong>
                <span class="text-muted">Results found for: </span><strong>Keyword</strong></p>
              <div class="row">
                <div class="col-sm-6">
                  <div class="row item-list item-list-sm item-list-by m-b">
                    <div class="col-xs-12">
                      <div class="item r" data-id="item-9" data-src="http://api.soundcloud.com/tracks/264094434/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                        <div class="item-media ">
                          <a class="item-media-content" href="track.detail.html" style="background-image: url('images/b8.jpg');"></a>
                        </div>
                        <div class="item-info">
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html">All I Need</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis ">
                            <a class="text-muted" href="artist.detail.html">Pablo Nouvelle</a>
                          </div>
                          <div class="item-meta text-sm text-muted">
                          </div>


                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="item r" data-id="item-2" data-src="http://api.soundcloud.com/tracks/259445397/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                        <div class="item-media ">
                          <a class="item-media-content" href="track.detail.html" style="background-image: url('images/b1.jpg');"></a>
                        </div>
                        <div class="item-info">
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html">Fireworks</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis ">
                            <a class="text-muted" href="artist.detail.html">Kygo</a>
                          </div>
                          <div class="item-meta text-sm text-muted">
                          </div>


                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="item r" data-id="item-7" data-src="http://api.soundcloud.com/tracks/245566366/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                        <div class="item-media ">
                          <a class="item-media-content" href="track.detail.html" style="background-image: url('images/b6.jpg');"></a>
                        </div>
                        <div class="item-info">
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html">Reflection (Deluxe)</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis ">
                            <a class="text-muted" href="artist.detail.html">Fifth Harmony</a>
                          </div>
                          <div class="item-meta text-sm text-muted">
                          </div>


                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="item r" data-id="item-11" data-src="http://api.soundcloud.com/tracks/218060449/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                        <div class="item-media ">
                          <a class="item-media-content" href="track.detail.html" style="background-image: url('images/b10.jpg');"></a>
                        </div>
                        <div class="item-info">
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html">Spring</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis ">
                            <a class="text-muted" href="artist.detail.html">Pablo Nouvelle</a>
                          </div>
                          <div class="item-meta text-sm text-muted">
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row item-list item-list-sm item-list-by m-b">
                    <div class="col-xs-12">
                      <div class="item">
                        <div class="item-media rounded ">
                          <a class="item-media-content" href="artist.detail.html" style="background-image: url('images/a4.jpg');"></a>
                        </div>
                        <div class="item-info ">
                          <div class="item-title text-ellipsis">
                            <a href="artist.detail.html">Judith Garcia</a>
                            <div class="text-sm text-muted">13 songs</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="item">
                        <div class="item-media rounded ">
                          <a class="item-media-content" href="artist.detail.html" style="background-image: url('images/a9.jpg');"></a>
                        </div>
                        <div class="item-info ">
                          <div class="item-title text-ellipsis">
                            <a href="artist.detail.html">Douglas Torres</a>
                            <div class="text-sm text-muted">20 songs</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="item">
                        <div class="item-media rounded ">
                          <a class="item-media-content" href="artist.detail.html" style="background-image: url('images/b1.jpg');"></a>
                        </div>
                        <div class="item-info ">
                          <div class="item-title text-ellipsis">
                            <a href="artist.detail.html">Melissa Garza</a>
                            <div class="text-sm text-muted">20 songs</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="item">
                        <div class="item-media rounded ">
                          <a class="item-media-content" href="artist.detail.html" style="background-image: url('images/a3.jpg');"></a>
                        </div>
                        <div class="item-info ">
                          <div class="item-title text-ellipsis">
                            <a href="artist.detail.html">Joe Holmes</a>
                            <div class="text-sm text-muted">24 songs</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-groups" id="top-search">
              <strong class="text-muted">Top searches: </strong>
              <a class="btn btn-xs white" href="#">Happy</a>
              <a class="btn btn-xs white" href="#">Music</a>
              <a class="btn btn-xs white" href="#">Weekend</a>
              <a class="btn btn-xs white" href="#">Summer</a>
              <a class="btn btn-xs white" href="#">Holiday</a>
              <a class="btn btn-xs white" href="#">Blue</a>
              <a class="btn btn-xs white" href="#">Soul</a>
              <a class="btn btn-xs white" href="#">Calm</a>
              <a class="btn btn-xs white" href="#">Nice</a>
              <a class="btn btn-xs white" href="#">Home</a>
              <a class="btn btn-xs white" href="#">SLeep</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ############ SEARCH END -->
  <!-- ############ SHARE START -->
  <div class="modal fade animate" id="share-modal">
    <div class="modal-dialog">
      <div class="modal-content fade-down">
        <div class="modal-header">

          <h5 class="modal-title">Share</h5>
        </div>
        <div class="modal-body p-lg">
          <div class="m-b" id="share-list">
            <a class="btn btn-icon btn-social rounded btn-social-colored indigo" href="" title="Facebook">
              <i class="fa fa-facebook"></i>
              <i class="fa fa-facebook"></i>
            </a>

            <a class="btn btn-icon btn-social rounded btn-social-colored light-blue" href="" title="Twitter">
              <i class="fa fa-twitter"></i>
              <i class="fa fa-twitter"></i>
            </a>

            <a class="btn btn-icon btn-social rounded btn-social-colored red-600" href="" title="Google+">
              <i class="fa fa-google-plus"></i>
              <i class="fa fa-google-plus"></i>
            </a>

            <a class="btn btn-icon btn-social rounded btn-social-colored blue-grey-600" href="" title="Trumblr">
              <i class="fa fa-tumblr"></i>
              <i class="fa fa-tumblr"></i>
            </a>

            <a class="btn btn-icon btn-social rounded btn-social-colored red-700" href="" title="Pinterst">
              <i class="fa fa-pinterest"></i>
              <i class="fa fa-pinterest"></i>
            </a>
          </div>
          <div>
            <input class="form-control" value="http://plamusic.com/slug"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ############ SHARE END -->

  <!-- ############ LAYOUT END-->
</div>

